<%= f.label :address %>
<%= f.text_field :address %>
<%= f.hint "Address of the user" %>

<%= f.label :city %>
<%= f.text_field :city %>
<%= f.hint "City of the user" %>

<%= f.label :country %>
<%= f.text_field :country %>
<%= f.hint "Country of the user" %>

<%= f.label :zip_code %>
<%= f.text_field :zip_code %>
<%= f.hint "Zip code of the user" %>

<%= f.label :user_id, "User" %>
<%= f.searchable_select :user_id, User.all, :id, :first_name, include_blank:false %>
<%= f.hint "Select the person of this address" %>