<%= f.label :name %>
<%= f.text_field :name %>
<%= f.hint "Name of the subject" %>

<%= f.label :image %>
<%= f.image_field :image, preview_url:@resource.image.url(:thumb) %>
<%= f.hint "Picture of the subject" %>
