<div id="registration">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <center><h4>Edit <%= resource_name.to_s.humanize %></h4></center>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="form-group">
          Currently waiting confirmation for: <%= resource.unconfirmed_email %>
        </div>
      <% end %>

      <div class="col-md-12 text-center">
        <div class="form-group">
          <%= f.label "Profile photo" %><br>
          <%= image_tag current_user.photo.url(:medium) %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= f.file_field :photo, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :first_name %>:
          <%= f.text_field :first_name, :autofocus => true, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :last_name %>:
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
      </div>

      <% if current_user.type_user != '2'%>
        <div class="col-md-12">
        <%= f.label :type_user, "Type of user" %>
          <div class="form-group radio-toolbar">
            <%= f.radio_button :type_user, '1', label: "Artist", checked: current_user.type_user == '1' %>
            <%= f.label :type_user, "Artist", for:'user_type_user_1' %>
            <%= f.radio_button :type_user, '0', label: "Collector", checked: current_user.type_user == '0' %>
            <%= f.label :type_user, "Collector", for:'user_type_user_0' %>
          </div>
        </div>
      <% else %>
        <%= f.label :type_user, "Type of user" %>
          <div class="form-group radio-toolbar">
            <%= f.radio_button :type_user, '1', label: "Artist", checked: current_user.type_user == '1' %>
            <%= f.label :type_user, "Artist", for:'user_type_user_1' %>
            <%= f.radio_button :type_user, '0', label: "Collector", checked: current_user.type_user == '0' %>
            <%= f.label :type_user, "Collector", for:'user_type_user_0' %>
            <%= f.radio_button :type_user, '2', label: "Curator", checked: current_user.type_user == '2' %>
            <%= f.label :type_user, "Curator", for:'user_type_user_2' %>
          </div>
        </div>
      <% end %>

      <div id="nick">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.label "Create a nick to show your profile to others" %>
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon3">https://www.latamart.com/</span>
              <%= f.text_field :nick, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>

  <div class="form-group">
        <%= f.label :Facebook %>
        <div class="input-group">
       <span class="fa fa-facebook"></span>
          <%= f.text_field :socialn1, class: "form-control" %>
        </div>
      </div>


      <div class="form-group">
        <%= f.label :Instagram %>
        <div class="input-group">
          <i class="fa fa-instagram"></i> 
                    <%= f.text_field :socialn2, class: "form-control" %>
        </div>
      </div>


      <div class="form-group">
        <%= f.label :Linkedin %>
        <div class="input-group">
      <i class="fa fa-linkedin"></i> 
          <%= f.text_field :socialn3, class: "form-control" %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :email %>:
          <%= f.email_field :email, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= f.label "Describe yourself and your life as an artist, curator or collector" %>:
          <%= f.text_area :description, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :telephone %>:
          <%= f.text_field :telephone, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.submit "Update", class: "btn btn-block btn-primary" %>
      </div>
    <% end %>

    <div class="form-group">
    <h3><strong>Your current addresses</strong></h3>
      <div class="row">
          <% current_user.addresses.each do |address| %>
            <div class="col-md-4">
              Address: <%= address.address%><br>            
              City: <%= address.city%><br>
              Country: <%= address.country%><br>
              Zip code: <%= address.zip_code%><br>
              <%=link_to "Edit", edit_address_path(address)%><br>
              <%=link_to "Delete", address_path(address), :method => :delete%>
            </div>
          <% end %>
      </div>
      <br>
      <%= link_to "Create new address", new_address_path %>
    </div>

    <div class="form-group">
    <h3><strong>Your current bank accounts</strong></h3>
      <div class="row">
          <% current_user.bank_accounts.each do |bank| %>
            <div class="col-md-4">
              Bank: <%= bank.bank%><br>            
              Number of account: <%= bank.number%><br>
              Country: <%= bank.country%><br>
              <%=link_to "Edit", edit_bank_account_path(bank)%><br>
              <%=link_to "Delete", bank_account_path(bank), :method => :delete%>
            </div>
          <% end %>
      </div>
      <br>
      <%= link_to "Create new account", new_bank_account_path %>
    </div>

    <center><h3><strong>Cancel my account</strong></h3></center>

    <div class="col-md-12">
      <p><%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-danger" %></p>
    </div>

    <%= link_to "Back", root_path %>

  </div>
  <div class="col-md-3"></div>
</div>