<div id="registration">
<div class="row" id="cuadrado1">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <center><h4>Sign up</h4></center>

    <p>Go to <%= link_to "Sign In", new_user_session_path %> directly to Log In</p>
    
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group text-center">
        <%= link_to image_tag("loginwithfacebook.png", border: 0, height: '40', width: '200'), user_facebook_omniauth_authorize_path %>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :first_name %>:
          <%= f.text_field :first_name, :autofocus => true, class: "form-control" %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :last_name %>:
          <%= f.text_field :last_name, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :email %>:
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
      <%= f.label :type_user, "Type of user" %>
        <div class="radio-toolbar form-group">
          <%= f.radio_button :type_user, '1', checked: true %>
          <%= f.label :type_user, "Artist", for:'user_type_user_1' %>

          <%= f.radio_button :type_user, '0'%>
          <%= f.label :type_user, "Collector", for:'user_type_user_0' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :nick %>
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon3">https://www.latamart.com/</span>
          <%= f.text_field :nick, class: "form-control" %>
        </div>
      </div>


      <div class="form-group">
        <%= f.label :Facebook %>
        <div class="input-group">
       <span class="fa fa-facebook"></span>
          <%= f.text_field :socialn1, class: "form-control" %>
        </div>
      </div>


      <div class="form-group">
        <%= f.label :Instagram %>
        <div class="input-group">
          <i class="fa fa-instagram"></i> 
                    <%= f.text_field :socialn2, class: "form-control" %>
        </div>
      </div>


      <div class="form-group">
        <%= f.label :Linkedin %>
        <div class="input-group">
      <i class="fa fa-linkedin"></i> 
          <%= f.text_field :socialn3, class: "form-control" %>
        </div>
      </div>
       


      <div class="form-group">
        <%= f.label :password %>:
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation %>:
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.check_box :terms_of_service %> I agree <%= render "pages/terms_and_conditions" %>
      </div>

      <div class="form-group">
        <%= recaptcha_tags %>
      </div>


      <div class="form-group">
        <%= f.submit "Sign up", class: "btn btn-block btn-primary" %>
      </div>

    <% end %>
    <%= render "devise/shared/links" %>

  </div>
  <div class="col-md-3"></div>
  </div>
</div>