<% if (controller_name == "listings" && action_name == "index") %>
	<% if listing.pictures[0].present?%>
		<%= link_to listing do %>
		<figure class="imghvr-push-up border-image">
			<%= image_tag(listing.pictures[0].image.url(:medium), class: "main-image") %>
			<% if listing.user.statePayment == true %>
				<%= image_tag('star.png', size:"30x30", class: "star-image") %>
			<% end %>
		    <figcaption class="<%= (listing.user.statePayment ? 'gold' : '')%>">
	        	<h6><b><%=listing.name%></b></h6>
	        	<h6>By <%=listing.user.first_name + ' ' + listing.user.last_name%></h6>
	      	</figcaption>
		</figure>
		<% end %>
	<% end %>
<% else %>
	<div class="col-xs-4">
		<% if listing.pictures[0].present?%>
			<%= link_to listing do %>
				<%= image_tag(listing.pictures[0].image.url(:categories))%>
				<% if listing.user.statePayment == true %>
					<%= image_tag('star.png', size:"30x30", class: "star-image") %>
				<% end %>
			<% end %>
		<% end %>
		<div class="row text-center">
			<p class="title"><%=listing.name%></p>
			<p class="description"><%= (listing.description.downcase == "n/a") ? "" :  listing.description.truncate(110) %></p>
		</div>
	</div>
<% end %>