<div align="center">
	<%= link_to "All", fetch_listings_path(:cat_id => "1"),:method=>:get, :class=> "btn btn-default filter-button", :remote => true, :"data-filter" => "all" %>
	<% @categories.each do |cat| %>
		<%= link_to cat.name, fetch_listings_path(:cat_id => cat.id),:method=>:get, :class=> "btn btn-default filter-button", :remote => true, :"data-filter" => "all" %>
	<% end %>
</div>
