<%minimium = Listing.all.minimum(:price)%>
<%maximum = Listing.all.maximum(:price)%>
<%range = ((maximum-minimium)/3).ceil%>
<%current = ""%>

<% if params[:range] == "range_price_1" %>
	<% current = number_to_currency(minimium.to_s) + ' and ' + number_to_currency((minimium+range).to_s) %>
<% elsif params[:range] == "range_price_2" %>
	<% current = number_to_currency((minimium+range).to_s) + ' and ' + number_to_currency((minimium+(range*2))).to_s %>
<% elsif params[:range] == "range_price_3" %>
	<% current = number_to_currency((minimium+(range*2))).to_s + ' and ' + number_to_currency((minimium+(range*3))).to_s %>
<% end %>

<div class="row">
	<div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<h1 class="gallery-title">Artworks</h1>
	</div>

	<% @listings.each do |item| %>
	  <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter all">
	    <%= link_to item do %>
	    	<%=image_tag(item.pictures[0].image.url(:categories), class: "img-responsive")%>

		    
		<% end %>
	  </div>
	<% end %>
</div>

<div class='row text-center'>
	<%= paginate @listings %>
</div>