<style type="text/css">
  
  section {
    padding: inherit;
  }

  div.buscador {
    position: fixed;
    width: 50%;
    top: 25%;
    right: 0;
    z-index: 1;
  }

  .sb-search-input {
    width: 100%;
  }

  [class^=imghvr-] figcaption {
    background-color: #63c2f3;
  }

  [class^=imghvr-] figcaption.gold {
    background-color: #BD7833;
  }

  .border-image {
    border-style: solid;
    border-width: 2.5px;
    width: 100% !important;
    height: auto !important;
  }

  #photos {
     /* Prevent vertical gaps */
    line-height: 0;

    -webkit-column-count: 4;
    -webkit-column-gap:   0px;
    -moz-column-count:    4;
    -moz-column-gap:      0px;
    column-count:         4;
    column-gap:           0px;
  }

  #photos img.main-image {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
  }

  #photos img.star-image {
    left: 20%;
    top: 20%;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
  } 


  @media (max-width: 1000px) {
    #photos {
    -moz-column-count:    4;
    -webkit-column-count: 4;
    column-count:         4;
    }
  }
  @media (max-width: 1000px) {
    #photos {
    -moz-column-count:    3;
    -webkit-column-count: 3;
    column-count:         3;
    }
  }
  @media (max-width: 800px) {
    #photos {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
  }
  @media (max-width: 400px) {
    #photos {
    -moz-column-count:    2;
    -webkit-column-count: 2;
    column-count:         2;
    }
  }
</style>

<style>

  div.articles{
    position: fixed;  
    display: block;
    width: 100%;
    background-color: rgba(208, 208, 208, 0.7);
    height: 20%;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 67px;
    text-align:center;
    margin:0 auto;
    z-index: 1;
  }

  .caption {
    position: absolute;
    background-color: rgba(126, 126, 126, 0.9);
    border-left: solid;
    border-right: solid;
    border-color: #fff;
    border-width: 0.05px;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
  }

  .col-xs-2{
    height: 100%;
    width: 16.6666%;
  }

  .col-xs-8{
    height: 100%;
    width: 66.6666%;
    padding: 12px;
  }
  
  @media (min-width: 992px) {
    .close-pub{
      height: 100%;
      width: 8.3333%;
    }

    .col-xs-8{
      height: 100%;
      width: 75%;
      padding: 12px;
    }
  }

  .mercedes{
    min-height:100%;
    width:100%;
    background-image: url("<%=asset_path('logoMercedes1.png')%>");
    background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
  }

  .col-md-3{
    height: 100%;
    padding: 0px;
  }

  .col-md-3 img{
    height: 100%;
    width: 100%
  }

  #carousel{
    height: 100%;
  }

  .carousel-inner{
    height: 100%;
  }

  .item{
    height: 100%;
  }
  
  .carousel-inner { margin: auto; width: 90%; }

  .carousel-control        { width:  4%; }
  .carousel-control.left,
  .carousel-control.right {
    background-image:none;
  }
   
  .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    margin-top:-10px;
    margin-left: -10px;
  }

  .carousel-inner {
    a {
      display:table-cell;
      height: 180px;
      width: 200px;
      vertical-align: middle;
    }
    img {
      max-height: 150px;
      margin: auto auto;
      max-width: 100%;
    }
  }

  @media (max-width: 767px) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

  }
  @media (min-width: 767px) and (max-width: 992px ) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
  }
  @media (min-width: 992px) {
    
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(16.7%, 0, 0);
        transform: translate3d(16.7%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-16.7%, 0, 0);
        transform: translate3d(-16.7%, 0, 0);
    }
    
  }
</style>
 <br>
 
<div class="row body">
  <div class="buscador">
    <%= render "pages/buscador-fixed" %>
  </div>
  <section id="photos">
    <div id="my-listings">        
      <%= render @listings %>
    </div>
  </section>
  <%= render "pages/publicidad_mercedes" %>
</div>

<div class="row text-center">
  <div id="infinite-scrolling">
    <%= paginate @listings, remote: :true %>
  </div>
</div>

<script type="text/javascript">
    $('#infinite-scrolling').hide();
</script>

<script>
$('.carousel[data-type="multi"] .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));
  
  for (var i=0;i<2;i++) {
    next=next.next();
    if (!next.length) {
      next = $(this).siblings(':first');
    }
    
    next.children(':first-child').clone().appendTo($(this));
  }
});
</script>

<script type="text/javascript">
  $("#close").click(function(){
    $(".articles").hide("slow");
  });
</script>