$('#my-listings').append('<%= j render @listings %>');
$('.paginator').hide();
$('#infinite-scrolling').hide();
<% if @listings.next_page %>
	$('.pagination').replaceWith('<%= j paginate @listings %>');
<% else %>
	$(window).off('scroll');
	$('.pagination').remove();
<% end %>
<% sleep 2 %>
