<%= f.label :name %>
<%= f.text_field :name %>
<%= f.hint "Name of the artwork" %>

<%= f.label :description %>
<%= f.text_area :description %>
<%= f.hint "Description of artwork" %>

<%= f.label :public %>
<div class="field-cluster"><%= f.check_box :public %></div>
<%= f.hint "Check if artwork is public" %>

<%= f.label :price %>
<%= f.text_field :price %>
<%= f.hint "Price of the artwork" %>

<%= f.label :user_id, "User" %>
<%= f.searchable_select :user_id, User.all, :id, :first_name, include_blank:false %>
<%= f.hint "Select the person who make this artwork" %>

<%= f.label :category_id, "Category" %>
<%= f.searchable_select :category_id, Category.all, :id, :name, include_blank:false %>
<%= f.hint "Select the category of artwork" %>

<%= f.label :subject_id, "Subject" %>
<%= f.searchable_select :subject_id, Subject.all, :id, :name, include_blank:false %>
<%= f.hint "Select the subject of artwork" %>

<%= f.label :picture_ids, "Images" %>
<%= f.searchable_select :picture_ids, Picture.order("image ASC"), :id, :image, multiple:true %>
<%= f.hint "Select each image for this artwork" %>