<%= index_table do %>
  <thead>
    <tr>
      <%= index_th :URL %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |obj| %>
      <tr>
        <%= index_td obj, obj.image.url %>
        <%= actions_td obj %>
      </tr>
    <% end %>
  </tbody>
<% end %>