<% if @user.blank?%>
  <div class="row">
    <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1 class="gallery-title">
    <strong><p>User no longer available<br>
    Thank you for your interest. This user is no longer active.</p></strong>
    </h1>
    </div>
  </div>
<% else %>
  <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1 class="gallery-title"><%= @user.first_name + ' ' + @user.last_name %></h1>
  </div>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-4">
            <div class="thumbnail">
              <%= image_tag(@user.photo.url(:square),class: "img-responsive", class: "full_column") %>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-6">
            <% if @user.statePayment == true %>
              <p><%= (@user.description.downcase == "n/a") ? "" :  @user.description %></p>
            <% end %>
            <p><strong>Telephone:</strong> <%= @user.telephone %></p>
            <p><strong>Email:</strong> <%= @user.email %></p>
            <p><%= (@user.socialn1.present?) ? 'Facebook: ' + @user.socialn1 : '' %></p>
            <p><%= (@user.socialn2.present?) ? 'Instagram: ' + @user.socialn2 : ''  %></p>
            <p><%= (@user.socialn3.present?) ? 'LinkedIn: ' + @user.socialn3 : ''  %></p>
            <br>
            <% case @user.type_user%>
            <% when '1'%>
            <p><strong>I am an artist</strong></p>
            <% when '2'%>
            <p><strong>I am a collector</strong></p>
            <% end %>
            <% if @user.comments.count == 0%>
              <strong> This user doesn't have comments</strong>
            <% else %>
              <p><strong>Global score: </strong><%= @user.comments.average(:qualification).round(1).to_s + '/5.0'%></p>
            <% end %>
          </div>
        </div>

        <div class="row">

        </div>
      </div>

  <h3> My artworks </h3>
  <% if @user.listings.count == 0 %>
    <strong>There aren't artworks avaible of this artist</strong>
  <% else %>
    <div class="row text-center">
      <div id="listings">
        <% if @user.statePayment == true %>
          <%= render @listings %>
        <% else %>
          <%= render @listings.limit(3) %>
        <% end %>
      </div>
    </div>
    <div class="row text-center">
      <div id="paginator-listings">
        <% if @user.statePayment == true %>
          <%= paginate @listings, :remote => true, param_name: :page_listing %>
        <% end %>
      </div>
    </div>
    <% if @user.statePayment == true %>
      <% if user_signed_in? %>
        <%if current_user.type_user == '2' %>
          <div class="row">
            <%= render "comments/form-artist" %>
          </div>
        <% end %>
      <% end %>

      <div class="row col-md-12">
        <h4>Comments</h4>
        <% if @comments.count == 0 %>
          <strong>There aren't comments for this artist</strong>
        <% else %>
          <div class="row">
            <div id="comments">
              <%= render 'comments_list', :locals => { :comments => @comments } %>
            </div>
          </div>
          <div class="row text-center">
            <div id="paginator-comments">
              <%= paginate @comments, :remote => true, param_name: :page_comment %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %> 
  <% end %> 
<% end %>

<br><br>

<script type="text/javascript">
  $(".pagination").attr('class', 'pagination-diff');
</script>