$('#listings').html('<%= escape_javascript render(@listings) %>');
$('#paginator-listings').html('<%= escape_javascript(paginate(@listings, :remote => true, param_name: :page_listing)) %>');

$('#comments').html('<%= escape_javascript render "comments_list", :locals => { :comments => @comments } %>');
$('#paginator-comments').html('<%= escape_javascript(paginate(@comments, :remote => true, param_name: :page_comment)) %>');

$(".pagination").attr('class', 'pagination-diff');