<style type="text/css">
  img.star-image {
    left: 20%;
    top: 20%;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
    width: 30px !important;
    height: 30px !important;
  } 
</style>

<style type="text/css">
  div.buscador {
    position: fixed;
    width: 50%;
    top: 25%;
    right: 0;
    z-index: 1;
  }

  .sb-search-input {
    width: 100%;
  }

  .frame-name{
    padding: 5px;
  }

  .frame-1 img{
    width: 100%;
    height: 260px;
  }
</style>

<style>

  div.articles{
    position: fixed;  
    display: block;
    width: 100%;
    background-color: rgba(208, 208, 208, 0.7);
    height: 20%;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 67px;
    text-align:center;
    margin:0 auto;
    z-index: 1;
  }

  .caption {
    position: absolute;
    background-color: rgba(126, 126, 126, 0.9);
    border-left: solid;
    border-right: solid;
    border-color: #fff;
    border-width: 0.05px;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
  }

  .col-xs-2{
    height: 100%;
    width: 16.6666%;
  }

  .col-xs-8{
    height: 100%;
    width: 66.6666%;
    padding: 12px;
  }
  
  @media (min-width: 992px) {
    .close-pub{
      height: 100%;
      width: 8.3333%;
    }

    .col-xs-8{
      height: 100%;
      width: 75%;
      padding: 12px;
    }
  }

  .mercedes{
    min-height:100%;
    width:100%;
    background-image: url("<%=asset_path('logoMercedes1.png')%>");
    background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
  }

  .col-md-3{
    height: 100%;
    padding: 0px;
  }

  .col-md-3 img{
    height: 100%;
    width: 100%
  }

  #carousel{
    height: 100%;
  }

  .carousel-inner{
    height: 100%;
  }

  .item{
    height: 100%;
  }
  
  .carousel-inner { margin: auto; width: 90%; }

  .carousel-control        { width:  4%; }
  .carousel-control.left,
  .carousel-control.right {
    background-image:none;
  }
   
  .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    margin-top:-10px;
    margin-left: -10px;
  }

  .carousel-inner {
    a {
      display:table-cell;
      height: 180px;
      width: 200px;
      vertical-align: middle;
    }
    img {
      max-height: 150px;
      margin: auto auto;
      max-width: 100%;
    }
  }

  @media (max-width: 767px) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

  }
  @media (min-width: 767px) and (max-width: 992px ) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
  }
  @media (min-width: 992px ) {
    
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(16.7%, 0, 0);
        transform: translate3d(16.7%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-16.7%, 0, 0);
        transform: translate3d(-16.7%, 0, 0);
    }
    
  }
  
  .col-xs-3{
    padding: 0px;
  }
</style>

<style type="text/css">
  .carousel-inner.vertical {
  height: 100%; /*Note: set specific height here if not, there will be some issues with IE browser*/
}
.carousel-inner.vertical > .item {
  -webkit-transition: .6s ease-in-out top;
  -o-transition: .6s ease-in-out top;
  transition: .6s ease-in-out top;
}

@media all and (transform-3d),
(-webkit-transform-3d) {
  .carousel-inner.vertical > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000;
    perspective: 1000;
  }
  .carousel-inner.vertical > .item.next,
  .carousel-inner.vertical > .item.active.right {
    -webkit-transform: translate3d(0, 33.33%, 0);
    transform: translate3d(0, 33.33%, 0);
    top: 0;
  }
  .carousel-inner.vertical > .item.prev,
  .carousel-inner.vertical > .item.active.left {
    -webkit-transform: translate3d(0, -33.33%, 0);
    transform: translate3d(0, -33.33%, 0);
    top: 0;
  }
  .carousel-inner.vertical > .item.next.left,
  .carousel-inner.vertical > .item.prev.right,
  .carousel-inner.vertical > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    top: 0;
  }
}

.carousel-inner.vertical > .active {
  top: 0;
}
.carousel-inner.vertical > .next,
.carousel-inner.vertical > .prev {
  top: 0;
  height: 100%;
  width: auto;
}
.carousel-inner.vertical > .next {
  left: 0;
  top: 33.33%;
  right:0;
}
.carousel-inner.vertical > .prev {
  left: 0;
  top: -33.33%;
  right:0;
}
.carousel-inner.vertical > .next.left,
.carousel-inner.vertical > .prev.right {
  top: 0;
}
.carousel-inner.vertical > .active.left {
  left: 0;
  top: -33.33%;
  right:0;
}
.carousel-inner.vertical > .active.right {
  left: 0;
  top: 33.33%;
  right:0;
}
</style>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="buscador">
      <%= render "pages/buscador-fixed" %>
    </div>
    <div class="row">
      <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="gallery-title"><%= locals[:title] %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div id="my-artists">
          <%= render '/pages/artists' %>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row text-center">
      <div id="infinite-scrolling">
        <%= paginate @artists, remote: :true %>
      </div>
    </div>
  </div>
  <%= render "pages/publicidad_mercedes"%>
</div>

<script>
$('.carousel[data-type="multi"] .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));
  
  for (var i=0;i<2;i++) {
    next=next.next();
    if (!next.length) {
      next = $(this).siblings(':first');
    }
    
    next.children(':first-child').clone().appendTo($(this));
  }
});
</script>

<script type="text/javascript">
  $("#close").click(function(){
    $(".articles").hide("slow");
  });
</script>