<% @artists.each do |item| %>
  <% if item.listings.count == 0%>
    <% next %>
  <% end %>
  <div class="col-sm-6">
    <div class="col-xs-9">
      <div class="frame-1">
        <div class="frame-2">
          <% if item.nick.present? %>
            <%= link_to user_profile_path(:nick => item.nick) do %>
              <% if item.photo.present? %>
                <%= image_tag(item.photo.url(:square), size: "150x150") %>
              <% else %>
                <%= image_tag(item.listings.first.pictures[0].image.url(:categories), size: "150x150") %>
              <% end %>
              <% if item.statePayment == true %>
                <%= image_tag('star.png', class: "star-image") %>
              <% end %>
            <% end %>
          <% else %>
            <% if item.listings.first.blank? %>
              <%= image_tag(item.photo.url(:square), size: "150x150") %>
            <% else %>
              <%= image_tag(item.listings.first.pictures[0].image.url(:categories), size: "150x150") %>
            <% end %>
          <% end %>
        </div>  
      </div>
      <br>
      <div class="frame-name">
        <h4><%= ((item.first_name.to_s).split.map(&:capitalize)*' ' + ' ' + (item.last_name.to_s).split.map(&:capitalize)*' ') %></h4>
      </div>
      <br>
    </div>
    <div class="col-xs-3">
      <% if item.listings.count > 0 %>
        <style type="text/css">
          #carousel-pager-<%=item.id%> .carousel-control.left {
            bottom: initial;
            width: 100%;
            color: #696969;
          }
          #carousel-pager-<%=item.id%> .carousel-control.right {
            top: initial;
            width: 100%;
            color: #696969;
          }
          .image-slider-artist{
            width: 100%;
            height: 86.66px !important;
          }
        </style>
        <div id="carousel-pager-<%=item.id%>" class="carousel slide " data-ride="carousel" data-interval="500000000">
            <!-- Carousel items -->
            <div class="carousel-inner vertical">
              <% counter = 0 %>
              <% item.listings.each do |artwork| %>
                <div class="<%=(counter == 0) ? 'active' : '' %> item">
                  <%= link_to artwork do %>
                    <%= image_tag(artwork.pictures.first.image.url(:thumb), class: "image-slider-artist", "data-target": "#carousel-main", "data-slide-to": "#{counter}", style: "border-style: solid; border-width: 5px; border-color: white;") %>
                  <% end %> 
                </div>
                <% counter = counter + 1%>
                <% if artwork.user.statePayment == true && counter == 3 %>
                  <% break %>
                <% end %>
              <% end %>
            </div>
            
            <!-- Controls -->
            <% if item.listings.count > 3 && item.statePayment == true %>
              <a class="left carousel-control" href="#carousel-pager-<%=item.id%>" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-pager-<%=item.id%>" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>
            <% end %>
        </div>

        <script type="text/javascript">
          $('#carousel-pager-<%=item.id%> .vertical .item').each(function(){
          var next = $(this).next();
          if (!next.length) {
            next = $(this).siblings(':first');
          }
          next.children(':first-child').clone().appendTo($(this));
          
          for (var i=1;i<2;i++) {
            next=next.next();
            if (!next.length) {
              next = $(this).siblings(':first');
            }
            
            next.children(':first-child').clone().appendTo($(this));
          }
        });
        </script>
      <% end %>
    </div>
  </div>
<% end %>


