<div id="sb-search" class="sb-search">
  <%=form_tag "/search", method: :get, class: "search_letra" do %>
    <input class="sb-search-input" placeholder="Enter a name of artist or art" type="text" value="" name="keyword" id="search">
    <input class="sb-search-submit" type="submit" value="">
    <span class="sb-icon-search"><%= image_tag('lupa.png', style: "padding: 10px;")%></span>
  <% end %>
</div>