<div class="row">
	<br>
  	<%=form_tag "/search", method: :get, class: "search_letra" do %>
    	<%= text_field_tag :keyword, nil, placeholder: "Search the best artworks", value: params[:keyword],class: "form-control"%>
  	<% end %>
  	<br>
</div>