<div class="row">
    <% listings.each do |listing|%>

            <div class="col-md-4 col-sm-6">

                <%= link_to listing do %>
                    <%= image_tag(listing.pictures[0].image.url(:categories), class: "full_column") %>
                 
                <% end %>

            </div>

    <% end %>
</div>

<div class='row text-center'>
    <%= paginate listings %>
</div>

<script type="text/javascript">
$.fn.ajaxPagination = function() {
  this.on("click", function () {
    $.get(this.href, null, null, "script");
    return false;
  });
}

$(document).ready(function() {
  $( ".pagination a" ).ajaxPagination();
})
</script>