<% @listings.each do |listing| %>
	<div class="col-xs-4">
		<% if listing.pictures[0].present?%>
			<%= link_to listing do %>
				<%= image_tag(listing.pictures[0].image.url(:categories))%>
			<% end %>
		<% end %>
		<div class="row text-center">
			<p class="title"><%=listing.name%></p>
			<p class="description"><%=listing.description.truncate(110)%></p>
		</div>
	</div>
<% end %>