<div class="support-menu  hidden-xs">
  <div class="row">
    <%= image_tag("logoMercedes1.png", height: '120', width: '159', align: 'center') %>
  </div>
  <div class="row">
    <nav class="vertical">
      <ul class="menu">
        <% if current_page?(controller: 'listings', action: 'index') %>
        
        <% else %>
          <li><%= link_to "Home", root_path %></li> 
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<b class="caret"></b></a>
          <ul>
            <% categories = Category.all.order(:name) %>
            <% categories.each do |category|%>
              <li> <%= link_to category.name, pages_category_path(:category => category.name.downcase) %> </li>
            <% end %>
          </ul>
        </li> 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Styles<b class="caret"></b></a>
          <ul>
            <% subjects = Subject.all %>
            <% subjects.each do |subject|%>
              <li> <%= link_to subject.name,pages_subject_path(:subject => subject.name.downcase) %> </li>
            <% end %>
          </ul>
        </li> 
        <li><%= link_to "Artist", pages_artist_path %></li> 
        <li><%= link_to "Curated", listings_curated_path %></li>  
        <li><%= link_to "News", pages_exhibition_path %></li> 
        <li><%= link_to "Museums", pages_museums_path %></li> 
        <li><%= link_to "Appreciation", pages_appreciation_path %></li> 
        <li><%= link_to "About us", pages_about_us_path %></li> 
      </ul>
    </nav>
  </div>
  <div class="row">
    <br>
    <h4 align="center">Latest</h4>
    <iframe name='iframe1' id="iframe1"  frameborder="0" src="http://latinamericanpost.com/index.php/latamart" width="100%" height="1080px" style="/* margin-left: 12%; */" scrolling="no"></iframe>   
  </div>
</div>