<div class="articles">
  <div class="col-xs-2">
    <div class="mercedes"></div>
  </div>
  <div class="col-xs-8">
    <div id="carousel" class="carousel slide" data-ride="carousel" data-type="multi">
      <div class="carousel-inner">
          <% counter = 0 %>
          <% @articles.each do |c| %>
            <% url_image = nil %>
            <% if JSON.parse(c["images"])["image_intro"].include? "https://integralatampost.s3.amazonaws.com/" %>
              <% url_image = JSON.parse(c["images"])["image_intro"] %>
            <% else %>
              <% url_image = "https://latinamericanpost.com/" + JSON.parse(c["images"])["image_intro"] %>
            <% end %>
            <div class="item <%=(counter == 0) ? 'active' : ''%>">
              <div class="col-md-3">
                <% url = c["language"].to_s == "es-ES" ? "https://latinamericanpost.com/index.php/es/"+c["category"]+"/"+ c["id"].to_s+"-"+c["alias"].to_s : "https://latinamericanpost.com/index.php/"+c["category"]+"/"+c["id"].to_s+"-"+c["alias"].to_s %>
                  <a href="<%=url%>", target="_blank">
                    <%= image_tag(url_image) %>
                    <div class="caption">
                      <h6><%=c["title"]%></h6>
                    </div>
                  </a>
              </div>
            </div>
            <% counter = counter + 1 %>
          <% end %>
        </div>
        <a class="left carousel-control" href="#carousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
        <a class="right carousel-control" href="#carousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
    </div>
  </div>
  <div class="col-xs-2 close-pub">
    <button type="button" class="btn btn-info btn-sm" id="close">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
  </div>
</div>