<a data-toggle="modal" href="#modalTerms">Terms and conditions</a>

<div class="modal" id="modalTerms">
	<div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Terms and conditions</h4>
        </div>
        <div class="modal-body">
          
          
          <br>
        Latam Art Inc. ("Latam Art," "we" or "our") provides a gallery for original works of art and commercially sharing digital images of works of art (the "Service", collectively the "Services") through our website, accessible at www.Latamart.com (the "Site"). Please read carefully the following terms and conditions ("Terms") and our Privacy Policy, which may be found at www.Latamart.com/privacy which is incorporated by reference into these Terms. These Terms govern your access to and use of the Site and Services, and constitute a binding legal agreement between you and Latam Art.

Certain areas of the Site and your access to certain Services may have different terms and conditions posted or may require you to agree with and accept additional terms and conditions. If there is a conflict between these Terms and the terms and conditions posted for a specific area of the Site or for specific Services, the latter terms and conditions shall take precedence with respect to your use of or access to that area of the Site or Services.

YOU ACKNOWLEDGE AND AGREE THAT, BY ACCESSING OR USING THE SITE OR SERVICES OR BY SELLING OR PURCHASING A WORK ON OR THROUGH THE SITE OR SERVICES OR BY POSTING ANY CONTENT ON THE SITE, YOU ARE INDICATING THAT YOU HAVE READ, UNDERSTAND AND AGREE TO BE BOUND BY THESE TERMS, WHETHER OR NOT YOU HAVE REGISTERED WITH THE SITE. IF YOU DO NOT AGREE TO THESE TERMS, THEN YOU HAVE NO RIGHT TO ACCESS OR USE THE SITE OR SERVICES. If you accept or agree to these Terms on behalf of a company or other legal entity, you represent and warrant that you have the authority to bind that company or other legal entity to these Terms and, in such event, "you" and "your" will refer and apply to that company or other legal entity.

Modification

Latam Art reserves the right, at its sole discretion, to modify, discontinue or terminate the Site or Services or to modify these Terms, at any time and without prior notice. If we modify these Terms, we will post the modification on the Site or provide you with notice of the modification. We will also update the "Last Updated Date". By continuing to access or use the Site or Services after we have posted a modification on the Site or have provided you with notice of a modification, you are indicating that you agree to be bound by the modified Terms. If the modified Terms are not acceptable to you, your only recourse is to cease using the Site and Services.

Eligibility

The Site and Services are intended solely for persons 18 years or older. Any access to or use of the Site or Services by anyone under 18 is expressly prohibited. By accessing or using the Site or Services you represent and warrant that you are 18 or older.

Account Registration

In order to list a work on the Site, you must first create an account ("Account") by completing our registration process. During the registration process you will be required to provide certain information and you will establish a username and a password. Upon completion of our registration process you will become a "Member." You agree to provide accurate, current and complete information during the registration process and to update such information to keep it accurate, current and complete. Latam Art reserves the right to suspend or terminate your Account if any information provided during the registration process or thereafter proves to be inaccurate, not current or incomplete. You are responsible for safeguarding your password. You agree not to disclose your password to any third party and to take sole responsibility for any activities or actions under your Account, whether or not you have authorized such activities or actions. You will immediately notify Latam Art of any unauthorized use of your Account.

Privacy

See Latam Art's Privacy Policy at www.Latamart.com/privacy for information and notices concerning Latam Art's collection and use of your personal information.

Listing Works on the Site

As a Member, you may submit listings for original works of art ("Original Works of Art") that you have created. You may not submit listings for Original Works of Art that were created by another artist. As a Member you may also submit listings for digital images of works of art ("Digital Works') that you have created. You may not submit listings for Digital Works that were created by another artist. 

In order for your listings to be accepted, you must provide Latam Art with all the information requested on the applicable page of our Site and you must comply with any other Latam Art requirements as identified on such page. Without limiting the generality of the foregoing, if you submit listings for viewing purposes you may be required to verify your identity by separately providing Latam Art with a copy of a government-issued ID or similar documentation. Your listings must be accurate and complete and comply with Latam Art's then-current listings content guidelines, which are available at www.Latamart.com/guidelines. 

Latam Art reserves the right to edit any listings to ensure that they comply with these guidelines. You acknowledge that your listings may not be immediately searchable by keyword or category for several hours (or up to 24 hours in some circumstances). The placement of your listings in search and browse results may be based on factors that include without limitation title, keywords and price.

You acknowledge that Latam Art reserves the right to promote Original Works of Art and/or Digital Works through the use of advertisement. You always retain the right to remove a listing for an Original Work of Art or Digital Work from the Site - please see below for instructions.

If you want to remove a listing for an Original Work of Art or Digital Work from the Site you must go to your account, click on the image you want to delete and then click on Delete and follow the steps set forth on that page.

The rights over the art works will still belong to the artist, but through the Terms and Conditions, the owner will allow Latam Art the use of the material. If the artists does not comply with its usage, he or she can say so at anytime and further steps will be taken. 

Responsibility for Works

You acknowledge and agree that you are solely responsible for all Original Works of Art and Digital Works that you make available through the Site and Services. Accordingly, you represent and warrant that: (i) as to Original Works of Art that you make available through the Site and Services, you are the creator of all such Original Works of Arts and you are the sole and exclusive owner of all such Original Works of Art; (ii) as to Digital Works that you make available through the Site and Services, you are either the sole and exclusive owner of all such Digital Works or you have all rights, licenses, consents and releases that are necessary to grant to Latam Art the rights in such Digital Works as contemplated under these Terms; and (iii)neither the Original Works of Art nor Digital Works that you make available through the Site and Services nor Latam Art's use and exploitation thereof as contemplated under these Terms will infringe, misappropriate or violate a third party's patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation.

Color

You understand and agree that Latam Art uses commercially reasonable efforts to display the colors of Original Works of Art, Digital Works and Printed Works accurately via the Site and Services. However, because individual computer monitors may display colors differently, Latam Art is not responsible for the color accuracy of any Original Works of Art, Digital Works or Printed Works displayed on the Site and Services, and disclaims all liability in this regard.

Feedback

We welcome and encourage you to provide feedback, comments and suggestions for improvements to the Site and Services ("Feedback"). You may submit Feedback by emailing us at help@Latamart.com. You acknowledge and agree that all Feedback will be the sole and exclusive property of Latam Art and you hereby irrevocably assign to Latam Art and agree to irrevocably assign to Latam Art all of your right, title and interest in and to all Feedback, including without limitation all worldwide patent rights, copyright rights, trade secret rights, and other proprietary or intellectual property rights therein. At Latam Art's request and expense, you will execute documents and take such further acts as Latam Art may reasonably request to assist Latam Art to acquire, perfect and maintain its intellectual property rights and other legal protections for the Feedback.

Member Content

In addition to submitting listings for Original Works of Art and Digital Works, Latam Art may, in its sole discretion, designate areas of the Site in which Members can post, upload, publish or submit text, graphics, audio, video, images of works of art or other content on or to the Site (individually or collectively, "Member Content"). "Member Content" excludes any images of Original Works of Art or Digital Works for which a Member submits a listing, as described under "Seller Terms and Conditions" above. Latam Art does not claim any ownership rights in any such Member Content and nothing in these Terms will be deemed to restrict any rights that a Member may have to use and exploit any such Member Content. By making available any Member Content on or through the Site and Services, (i) you grant Latam Art a worldwide, non-exclusive, transferable, royalty-free, commission-free license to crop, resize, publicly display, publicly perform, distribute, broadcast and transmit such Member Content on or through the Site and Services in any form, medium or technology now known or later developed, for the purpose of promoting Latam Art, the Site and Services, and (ii) you grant directly to other Members the right and license to view your Member Content on or through the Site and Services only in connection with such Member's authorized use of the Site and Services. You reserve all other rights and licenses in and to any Member Content that you make available on or through the Site and Services.

You acknowledge and agree that you are solely responsible for any Member Content that you make available on or through the Site. You represent and warrant that: (i) you are the sole and exclusive owner of all Member Content that you make available on the Site or that you have all rights, licenses, consents and releases that are necessary to make available such Member Content and to grant all rights and licenses in such Member Content as granted under these Terms; and (ii)neither the Member Content nor your making available any Member Content on the Site nor any use of any Member Content as permitted under these Terms will infringe, misappropriate or violate a third party's patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation.

Latam Art Content

Latam Art may also make available through the Site and Services text, graphics, audio, video and images of works of art (collectively, "Latam Art Content"), some of which is owned by Latam Art ("Latam Art-owned Content"), and some of which is made available under license by a third party ("Latam Art-licensed Content"). Latam Art authorizes you to download, view and print Latam Art-owned Content" solely for your personal use in visiting the Site and, if you are a Member, in connection with exercising the rights granted to Members under these Terms. For Latam Art Licensed Content, the scope of your rights thereto will be solely as set forth in the applicable license agreement that governs the use of such content, as identified on the page of the Site where such content appears. Nothing in these Terms is intended to modify, restrict or limit the scope of your rights as to such Latam Art Licensed Content. No licenses or rights are granted to you by implication or otherwise under any intellectual property rights owned or controlled by Latam Art or its licensors, except for the licenses and rights expressly granted in these Terms.

General Prohibitions

You agree not to do any of the following:

Post, upload, publish, submit or transmit any text, graphics, images, software, music, audio, video, information or other material that: (i)infringes, misappropriates or violates a third party's patent, copyright, trademark, trade secret, moral rights or other intellectual property rights, or rights of publicity or privacy; (ii) violates, or encourages any conduct that would violate, any applicable law or regulation or would give rise to civil liability; (iii) is fraudulent, false, misleading or deceptive; (iv) is defamatory, obscene, pornographic, vulgar or offensive; (v)promotes discrimination, bigotry, racism, hatred, harassment or harm against any individual or group; (vi) is violent or threatening or promotes violence or actions that are threatening to any other person; (vii) harms minors in any way; or (viii) promotes illegal or harmful activities or substances.

Use, display, mirror or frame the Site, or any individual element within the Site, Latam Art's name, any Latam Art trademark, logo or other proprietary information, or the layout and design of any page or form contained on a page, without Latam Art's express written consent;
Access, tamper with, or use non-public areas of the Site, Latam Art's computer systems, or the technical delivery systems of Latam Art's providers;
Attempt to probe, scan or test the vulnerability of any Latam Art system or network or breach any security or authentication measures;
Avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any technological measure implemented by Latam Art or any of Latam Art's providers or any other third party (including another user) to protect the Site, Services, Latam Art Content or Member Content;
Attempt to access or search the Site, Services, Latam Art Content or Member Content or download Latam Art Content or Member Content from the Site or Services through the use of any engine, software, tool, agent, device or mechanism (including spiders, robots, crawlers, data mining tools or the like) other than the software and/or search agents provided by Latam Art or other generally available third party web browsers;
Send any unsolicited or unauthorized advertising, promotional materials, email, junk mail, spam, chain letters or other form of solicitation;
Use any meta tags or other hidden text or metadata utilizing a Latam Art trademark, logo URL or product name without Latam Art's express written consent;
Use the Site, Services, Latam Art Content or Member Content for any commercial purpose or the benefit of any third party in any manner not otherwise permitted by these Terms;
Forge any TCP/IP packet header or any part of the header information in any email or newsgroup posting, or in any way use the Site, Services, Latam Art Content or Member Content to send altered, deceptive or false source-identifying information;
Attempt to decipher, decompile, disassemble or reverse engineer any of the software used to provide the Site, Services, Latam Art Content or Member Content;
Interfere with, or attempt to interfere with, the access of any user, host or network, including, without limitation, sending a virus, overloading, flooding, spamming, or mail-bombing the Site;
Collect or store any personally identifiable information from the Site or Services from other users of the Site or Services without their express permission;
Impersonate or misrepresent your affiliation with any person or entity;
Violate any applicable law or regulation; or
Encourage or enable any other individual to do any of the foregoing.
Latam Art will have the right to investigate and prosecute violations of any of the above to the fullest extent of the law. Latam Art may involve and cooperate with law enforcement authorities in prosecuting users who violate these Terms. You acknowledge that Latam Art has no obligation to monitor your access to or use of the Site or Services or to remove any Member Content, but has the right to do so for the purpose of operating the Site and Services, to ensure your compliance with these Terms, or to comply with applicable law or the order or requirement of a court, administrative agency or other governmental body. Latam Art reserves the right, at any time and without prior notice, to remove or disable access to any Member Content, listings for Original Works of Art or Digital Works, Latam Art Content or any other text, graphics, images, software, music, audio, video, information or other content or material that Latam Art, at its sole discretion, considers to be objectionable, in violation of these Terms or otherwise harmful to the Site or Services.

Sweepstakes and Contests

Latam Art may operate sweepstakes, contests and similar promotions (collectively, "Promotions") through the Site and Services. You should carefully review the rules (e.g., the "Official Rules") of each Promotion in which you participate through the Site and Services, as they may contain additional important information about Latam Art's rights to and ownership of the submissions you make as part of the Promotions and as a result of your participation in such Promotions. To the extent that the terms and conditions of any Official Rules conflict with these Terms, the terms and conditions of the Official Rules will control.

Ownership

The Site, Services and Latam Art Content are protected by copyright, trademark and other laws of the United States and foreign countries. Except as expressly provided in these Terms, Latam Art and its licensors exclusively own all right, title and interest in and to the Site, Services and Latam Art Content and Printed Works, including all associated intellectual property rights. You will not remove, alter or obscure any copyright, trademark, service mark or other proprietary rights notices incorporated in or accompanying the Site, Services or Latam Art Content.

Copyright Policy

Latam Art respects copyright law and expects its users to do the same. It is Latam Art's policy to terminate in appropriate circumstances of Members or other Account holders who repeatedly infringe or are believed to be repeatedly infringing the rights of copyright holders. Please see Latam Art's Copyright Policy at www.Latamart.com/copyright for further information.

Links

The Site may contain links to third-party websites or resources. You acknowledge and agree that Latam Art is not responsible or liable for: (i) the availability or accuracy of such websites or resources; or (ii) the content, products, or services on or available from such websites or resources. Links to such websites or resources do not imply any endorsement by Latam Art of such websites or resources or the content, products, or services available from such websites or resources. You acknowledge sole responsibility for and assume all risk arising from your use of any such websites or resources.

Termination and Account Cancellation

If you breach any of these Terms, Latam Art will have the right to suspend or disable your Account or terminate these Terms, at its sole discretion and without prior notice to you. Latam Art reserves the right to revoke your access to and use of the Site, Services, Latam Art Content and Member Content at any time, with or without cause. In the event Latam Art terminates these Terms for your breach, you will remain liable for any amounts due hereunder. You may cancel your Account at any time by sending an email to help@Latamart.com.

Disclaimers

THE SITE, SERVICES, Latam Art CONTENT AND MEMBER CONTENT ARE PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED. WITHOUT LIMITING THE FOREGOING, Latam Art EXPLICITLY DISCLAIMS ANY WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE OR NON-INFRINGEMENT, AND ANY WARRANTIES ARISING OUT OF COURSE OF DEALING OR USAGE OF TRADE. Latam Art MAKES NO WARRANTY THAT THE SITE, SERVICES, Latam Art CONTENT OR MEMEBR CONTENT WILL MEET YOUR REQUIREMENTS OR BE AVAILABLE ON AN UNINTERRUPTED, SECURE, OR ERROR-FREE BASIS. Latam Art MAKES NO WARRANTY REGARDING THE QUALITY OF ANY WORKS, SERVICES, CONTENT OBTAINED THROUGH THE SITE OR SERVICES OR THE ACCURACY, TIMELINESS, TRUTHFULNESS, COMPLETENESS OR RELIABILITY OF ANY CONTENT OBTAINED THROUGH THE SITE OR SERVICES.

NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED FROM Latam Art OR THROUGH THE SITE OR SERVICES, WILL CREATE ANY WARRANTY NOT EXPRESSLY MADE HEREIN.

YOU ARE SOLELY RESPONSIBLE FOR ALL OF YOUR COMMUNICATIONS AND INTERACTIONS WITH OTHER MEMBERS OR USERS OF THE SITE OR SERVICES AND WITH OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A RESULT OF YOUR USE OF THE SITE OR SERVICES. YOU UNDERSTAND THAT, EXCEPT AS EXPRESSLY SET FORTH IN THESE TERMS, Latam Art DOES NOT SCREEN OR INQUIRE INTO THE BACKGROUND OF MEMBERS OR OTHER USERS OF THE SITE OR SERVICES, NOR DOES Latam Art MAKE ANY ATTEMPT TO VERIFY THE STATEMENTS OF ANY MEMBERS OR USERS OF THE SITE OR SERVICES. Latam Art MAKES NO REPRESENTATIONS OR WARRANTIES AS TO THE CONDUCT OF USERS OF THE SITE OR SERVICES.YOU AGREE TO TAKE REASONABLE PRECAUTIONS IN ALL COMMUNICATIONS AND INTERACTIONS WITH OTHER MEMBERS OR USERS OF THE SITE OR SERVICES AND WITH OTHER PERSONS WITH WHOM YOU COMMUNICATE OR INTERACT AS A RESULT OF YOUR USE OF THE SITE OR SERVICES, PARTICULARLY IF YOU DECIDE TO MEET OFFLINE OR IN PERSON.

Indemnity

You agree to defend, indemnify, and hold Latam Art, its officers, directors, employees and agents, harmless from and against any claims, liabilities, damages, losses, and expenses, including, without limitation, reasonable legal and accounting fees, arising out of or in any way connected with your access to or use of the Site, Services, Latam Art Content or Member Content, or your violation of these Terms.

Limitation of Liability

You acknowledge and agree that, to the maximum extent permitted by law, the entire risk arising out of your access to and use of the Site, Services, Latam Art Content and Member Content remains with you. Neither Latam Art nor any other party involved in creating, producing, or delivering the Site, Services, Latam Art Content or Member Content will be liable for any incidental, special, exemplary or consequential damages, including lost profits, loss of data or loss of goodwill, service interruption, computer damage or system failure or the cost of substitute products or services, or for any damages for personal or bodily injury or emotional distress arising out of or in connection with these Terms or from the use of or inability to use the Site, Services, Latam Art Content or Member Content, or from any communications, interactions or meetings with other Members or users of the Site or Services or other persons with whom you communicate or interact as a result of your use of the Site or Services, whether based on warranty, contract, tort (including negligence), product liability or any other legal theory, and whether or not Latam Art has been informed of the possibility of such damage, even if a limited remedy set forth herein is found to have failed of its essential purpose.

Proprietary Rights Notices

All trademarks, service marks, logos, trade names and any other proprietary designations of Latam Art used herein are trademarks or registered trademarks of Latam Art. Any other trademarks, service marks, logos, trade names and any other proprietary designations are the trademarks or registered trademarks of their respective parties.

Controlling Law and Jurisdiction

These Terms and any action related thereto will be governed by the laws of Colombia without regard to its conflict of laws provisions. The exclusive jurisdiction and venue of any action with respect to the subject matter of these Terms will be the state of the Republic of Colombia and each of the parties hereto waives any objection to jurisdiction and venue in such courts.

Entire Agreement

These Terms constitute the entire and exclusive understanding and agreement between Latam Art and you regarding the Site and Services and these Terms supersede and replace any and all prior oral or written understandings or agreements between Latam Art and you regarding the Site and Services.

Assignment

You may not assign or transfer these Terms, by operation of law or otherwise, without Latam Art's prior written consent. Any attempt by you to assign or transfer these Terms, without such consent, will be null and of no effect. Latam Art may assign or transfer these Terms, at its sole discretion, without restriction. Subject to the foregoing, these Terms will bind and inure to the benefit of the parties, their successors and permitted assigns.

Notices

Any notices or other communications permitted to required hereunder, including those regarding modifications to these Terms, will be in writing and given: (i) by Latam Art via email (in each case to the address that you provide) or (ii) by posting to the Site. For notices made by e-mail, the date of receipt will be deemed the date on which such notice is transmitted.

General

The failure of Latam Art to enforce any right or provision of these Terms will not constitute a waiver of future enforcement of that right or provision. The waiver of any such right or provision will be effective only if in writing and signed by a duly authorized representative of Latam Art. Except as expressly set forth in these Terms, the exercise by either party of any of its remedies under these Terms will be without prejudice to its other remedies under these Terms or otherwise. If for any reason a court of competent jurisdiction finds any provision of these Terms invalid or unenforceable, that provision will be enforced to the maximum extent permissible and the other provisions of these Terms will remain in full force and effect.
     

        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn">Close</a>
          
        </div>
      </div>
    </div>
</div>
