<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-xs-2">
          <%= render "pages/menu" %>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
        <%= render "pages/buscador" %>
        <div class="row">
          <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="gallery-title">About Us</h1>
          </div> 
            <div class="container">
              <div class="row">
                <div class="col-md-10">
                  <p>
Founded in 1989, latamart gallery represents mid-career, and emerging contemporary artists.  Latamart is pleased to announce its update, offering new opportunities open to users. The medium works in close relationship with artists to create a service according to their needs. During more than three decades, a combination of curating and marketing of  the work of emerging artists has been provided in addition to information, exhibitions, museums and art appreciation e- learning. In a clear and well-crafted language, the information has been accessible to enthusiastic beginners, connoisseurs, teachers, collectors and merchants. In a digital version, as well as a dynamic website, allied to a community media network, full coverage of Latin American art is offered. Using Tic instruments adapted to the continuous power of the internet and communicative management to help artists and mid-career artists to obtain an international presentation for their work. 
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>

