$('#my-appreciations').append("<%= j render('/pages/appreciations', :locals => { :comments => @comments }) %>");
$('.paginator').hide();
<% if @comments.next_page %>
  $('.pagination').replaceWith('<%= j paginate @comments, :remote => true, param_name: :page_comment %>');
<% else %>
  $(window).off('scroll');
  $('.pagination').remove();
<% end %>
<% sleep 2 %>