<style type="text/css">
  div.buscador {
    position: fixed;
    width: 50%;
    top: 25%;
    right: 0;
    z-index: 1;
  }

  .sb-search-input {
    width: 100%;
  }
</style>

<style>

  div.articles{
    position: fixed;  
    display: block;
    width: 100%;
    background-color: rgba(208, 208, 208, 0.7);
    height: 20%;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 67px;
    text-align:center;
    margin:0 auto;
    z-index: 1;
  }

  .caption {
    position: absolute;
    background-color: rgba(126, 126, 126, 0.9);
    border-left: solid;
    border-right: solid;
    border-color: #fff;
    border-width: 0.05px;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
  }

  .col-xs-2{
    height: 100%;
    width: 16.6666%;
  }

  .col-xs-8{
    height: 100%;
    width: 66.6666%;
    padding: 12px;
  }
  
  @media (min-width: 992px) {
    .close-pub{
      height: 100%;
      width: 8.3333%;
    }

    .col-xs-8{
      height: 100%;
      width: 75%;
      padding: 12px;
    }
  }

  .mercedes{
    min-height:100%;
    width:100%;
    background-image: url("<%=asset_path('logoMercedes1.png')%>");
    background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
  }

  .col-md-3{
    height: 100%;
    padding: 0px;
  }

  .col-md-3 img{
    height: 100%;
    width: 100%
  }

  #carousel{
    height: 100%;
  }

  .carousel-inner{
    height: 100%;
  }

  .item{
    height: 100%;
  }
  
  .carousel-inner { margin: auto; width: 90%; }

  .carousel-control        { width:  4%; }
  .carousel-control.left,
  .carousel-control.right {
    background-image:none;
  }
   
  .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    margin-top:-10px;
    margin-left: -10px;
  }

  .carousel-inner {
    a {
      display:table-cell;
      height: 180px;
      width: 200px;
      vertical-align: middle;
    }
    img {
      max-height: 150px;
      margin: auto auto;
      max-width: 100%;
    }
  }

  @media (max-width: 767px) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

  }
  @media (min-width: 767px) and (max-width: 992px ) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
  }
  @media (min-width: 992px) {
    
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(16.7%, 0, 0);
        transform: translate3d(16.7%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-16.7%, 0, 0);
        transform: translate3d(-16.7%, 0, 0);
    }
    
  }
</style>

<div class="row">
  <div class="col-xs-12">
    <div class="buscador">
      <%= render "pages/buscador-fixed" %>
    </div>
    <div class="row">
      <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="gallery-title">Appreciation</h1>
      </div> 
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="panel-body">
          <div id="my-appreciations">
            <%= render('/pages/appreciations', :locals => { :comments => @comments }) %>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div id="infinite-scrolling">
        <%= paginate @comments, :remote => true, param_name: :page_comment %>
      </div>
    </div>
  </div>
  <%= render "pages/publicidad_mercedes"%>
</div>

<script>
$('.carousel[data-type="multi"] .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));
  
  for (var i=0;i<2;i++) {
    next=next.next();
    if (!next.length) {
      next = $(this).siblings(':first');
    }
    
    next.children(':first-child').clone().appendTo($(this));
  }
});
</script>

<script type="text/javascript">
  $("#close").click(function(){
    $(".articles").hide("slow");
  });
</script>