
<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-xs-2">
          <%= render "pages/menu" %>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
        <%= render "pages/buscador" %>
        <div class="row">
          <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            
          </div> 
            <div class="container">
              <div class="row">
                <div class="col-md-10">
                  <a class="brand" href="http://campus.latampost.com/course/view.php?id=3#section-0" target="_blank"><%= image_tag("principal.png", class: "img-responsive") %></a>
                  <p>LatamCampus offers a different mechanism for learning english and art through listening. The Art Appreciation course teaches not only the essential basic art history but also ways to understand the artist’s creative process, lifestyles with art, techniques and vocabulary. This is important for our students, for they will be able to comprehend and apply the vocabulary surrounding the art world in their day to day activities.</p> 

                  <p>The course is made up by 5 modules, each with a specific subject. Each module has lectures based on the topic and a quiz so that the students can test their knowledge after completing the lectures. Here, you’ll find a brief description of what to expect in each module:</p>

                  <h3>Module 1: Introduction</h3>
                  <%= image_tag("Introduccion_arte.png", class: "img-responsive") %>
                  <p>This module consists of giving the student a perspective towards the following:</p>
                  <li>What art is</li>
                  <li>Living as an artist</li>
                  <li>Themes of art: politics, history, science, among others</li>

                  <p>With these fundamental concepts, students are able to have a better understanding of the following modules.</p>

                  <h3>Module 2 : Art Vocabulary</h3>
                  <%= image_tag("Vocabulario_arte.png", class: "img-responsive") %>
                  <p>This module has two main topics:
                  <li>Visual elements: shapes, lines, light, and color</li>
                  <li>Design principles: rhythm, focal point, symmetry, and many others</li>


                  <h3>Module 3: Two dimensional media</h3>
                  <%= image_tag("2D_arte.png", class: "img-responsive") %>
                  <p>This module explains more detailed the following categories:</p>
                  <li>Print</li>
                  <li>Drawing</li>
                  <li>Painting</li>
                  <li>Camera and computer arts</li>


                  <h3>Module 4: Three dimensional media</h3>
                  <%= image_tag("3D_arte.png", class: "img-responsive") %>
                  <p>This module explains the following categories with more detail:</p>
                  <li>Architecture</li>
                  <li>Sculpture</li>
                  <li>Material : Metal, wood, clay, and more</li>


                  <h3>Module 5: Art in time</h3>
                  <%= image_tag("Historia_arte.png", class: "img-responsive") %>
                  <p>This module covers all artistic movement through time from prehistoric to modern times. Some of these periods are the following:</p>
                  <li>Ancient Mediterranean Worlds</li>
                  <li>Renaissance</li>
                  <li>The 17th and 18th century</li>
                  <li>Modern world</li>
                  <li>Postmodern</li>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>

