$('#my-artists').append('<%= j render("/pages/artists") %>');
$('.paginator').hide();
$('#infinite-scrolling').hide();
<% if @artists.next_page %>
  $('.pagination').replaceWith('<%= j paginate(@artists) %>');
<% else %>
  $(window).off('scroll');
  $('.pagination').remove();
<% end %>
<% sleep 2 %>