<div class="container">
    <div class="row">
    	<h1 class="gallery-title">E-learning</h1>
	</div>

    <div class="col-sm-12">
        <a href="http://campus.latampost.com/">   <%= image_tag("artelearning.jpg")%> </a>
		<br><br>
	</div>  
</div>