<style type="text/css">

  .mercedes{
    width: 200px !important;
    height: auto;
  }

  div.buscador {
    position: fixed;
    width: 50%;
    top: 25%;
    right: 0;
    z-index: 1;
  }

  .item-main{
    min-height: 600px;
    border-bottom: solid;
    border-width: 1px;
    padding: 20px;
  }

  .item-main img{
    width: 100%;
    height: 100%;
  }

  .item-1{
    min-height: 300px;
    border-bottom: solid;
    border-width: 1px;
    padding: 10px;
    padding: 20px;
  }

  .item-1 img{
    width: 100%;
    height: auto;
  }

  .item {
    min-height:400px;
    border-bottom: solid;
    border-width: 1px;
    padding: 20px;
  }

</style>

<div class="row">
  
  <div class="row">
    <div class="col-md-10"></div>
    <div class="col-md-2">
      <form> 
        <div class="form-group">
          <%= select_tag(:language, options_for_select([['All', ''],['Spanish', 'es-ES'],['English', 'en-GB']], :selected => params[:language]), { onchange: "this.form.submit();", class: "form-control"}) %>
        </div>
      </form>
    </div>
  </div>

  <div class="buscador">
    <%= render "pages/buscador-fixed" %>
  </div>
    <div class="row">
      <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 class="gallery-title">News</h1>
      </div> 
    </div>
    <div class="row">
      <div class="col-md-6">
      </div>
      <div class="col-md-6">
        <div class="row">
        </div>
        <div class="row">
        </div>
      </div>  
    </div>

      <% counter = 0 %>
      <% @articles.each do |c| %>
        <% url = c["language"].to_s == "es-ES" ? "https://latinamericanpost.com/index.php/es/"+c["category"]+"/"+ c["id"].to_s+"-"+c["alias"].to_s : "https://latinamericanpost.com/index.php/"+c["category"]+"/"+c["id"].to_s+"-"+c["alias"].to_s %>
        <% url_image = nil %>
        <% if JSON.parse(c["images"])["image_intro"].include? "https://integralatampost.s3.amazonaws.com/" %>
          <% url_image = JSON.parse(c["images"])["image_intro"] %>
        <% else %>
          <% url_image = "https://latinamericanpost.com/" + JSON.parse(c["images"])["image_intro"] %>
        <% end %>
        <% if counter == 0 %>
          <div class="row">
          <a href="<%=url%>">
            <div class="item-main col-md-6">
                <h4><%= c["title"].truncate(36) %></h4>
                <figure class="imghvr-shutter-in-out-diag-1">
                  <%= image_tag(url_image, size: "300x200") %>
                  <figcaption>
                    <h4><%= c["title"].truncate(36) %></h4>
                  </figcaption>
                </figure>
                <div style="color: #000"><%= ActionView::Base.full_sanitizer.sanitize(c["introtext"]).truncate(150) %></div>
                <center><%= image_tag("logoMercedes1.png", size: "200x200", class: "mercedes") %></center>
            </div>
          </a>
        <% elsif counter > 0 && counter < 5 %>
          <a href="<%=url%>" target="_blank">
            <div class="item-1 col-md-3">
              <h4><%= c["title"].truncate(36) %></h4>
              <figure class="imghvr-shutter-in-out-diag-1">
                <%= image_tag(url_image, size: "100x100") %>
                <figcaption>
                  <h4><%= c["title"].truncate(36) %></h4>
                </figcaption>
              </figure>
              <div style="color: #000"><%= ActionView::Base.full_sanitizer.sanitize(c["introtext"]).truncate(150) %></div>
            </div>
          </a>
          <% if counter == 4 %>
            </div>
          <% end %>
        <% else %>
          <a href="<%=url%>">
            <div class="item col-sm-3">
              <h5><%= c["title"].truncate(36) %></h5>
              <figure class="imghvr-shutter-in-out-diag-1">
                <%= image_tag(url_image, size: "300x200") %>
                <figcaption>
                  <h4><%= c["title"].truncate(36) %></h4>
                </figcaption>
              </figure>
              <div style="color: #000"><%= ActionView::Base.full_sanitizer.sanitize(c["introtext"]).truncate(150) %></div>
            </div>
          </a>
        <% end %>
        <% counter = counter + 1%>
      <% end %>
</div>