<style type="text/css">

  div.buscador {
    position: fixed;
    width: 50%;
    top: 25%;
    right: 0;
    z-index: 1;
  }

  .title-frame{
    font-style: oblique;
    background-color: #ebebeb;
    padding: 10px;
  }

  .zero-padding {
    padding: 0px;
  }

  .title{
    text-align: left;
    font-size: 12px;
  }

  .desc{
    text-align: left;
    font-size: 12px;
    color: #696969;
  }

  /* CSS pantallas de 320px o superior */
  @media (min-width: 320px) {

    #vid_frame {
      width: 250px;
      height: 190px;
    } 

  }

  /* CSS pantalla 768px o superior */
  @media (min-width: 768px) {

    #vid_frame {
      width: 100%;
      height: 400px;
    } 

  }

  .vid-container{
    text-align: center;
  }

  .list-item{
    background-color: #C0C0C0;
    border-bottom: solid;
    border-color: #AC9BB0;
    border-width: 1px;
    padding-left: 0px;
    padding-right: 0px;
    cursor: pointer;
  }

  .list-item:hover{
    background-color: #A9A9A9;  
  }

  .active-item{
    background-color: #A9A9A9;
  }

  .list-item img{
    padding-bottom: 2px;
    padding-top: 2px;
  }

  .list-title{
    background-color: #fff;
    border-top: solid;
    border-bottom: solid;
    border-color: #808080;
    border-width: 1px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    font-style: bold;
  }

  .playlist{
    height:470px;
    padding-right: 0px;
    overflow:scroll;
    overflow-x:hidden;
    overflow-y:scroll;
  }

  .playlist::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(105,105,105, 0.3);
    background-color: #F5F5F5;
  }

  .playlist::-webkit-scrollbar{
    width: 6px;
    background-color: #F5F5F5;
  }

  .playlist::-webkit-scrollbar-thumb{
    background-color: #000000;
  }

</style>

<style type="text/css">
  div.buscador {
    position: fixed;
    width: 50%;
    top: 25%;
    right: 0;
    z-index: 1;
  }

  .sb-search-input {
    width: 100%;
  }

  .frame-1{
    border-style: solid;
    border-color: #DEDAD8;
    border-width: 10px;
    box-shadow: 2px 2px gray;
  }

  .frame-2{
    border-style: solid;
    border-color: white;
    border-width: 10px;
  }

  .frame-name{
    background-color: #DEDAD8;
    padding: 5px;
  }

  .frame-1 img{
    width: 100%;
    height: 250px;
  }
</style>

<style>

  div.articles{
    position: fixed;  
    display: block;
    width: 100%;
    background-color: rgba(208, 208, 208, 0.7);
    height: 20%;
    width: 100%;
    right: 0;
    left: 0;
    bottom: 67px;
    text-align:center;
    margin:0 auto;
    z-index: 1;
  }

  .caption {
    position: absolute;
    background-color: rgba(126, 126, 126, 0.9);
    border-left: solid;
    border-right: solid;
    border-color: #fff;
    border-width: 0.05px;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
  }

  .col-xs-2{
    height: 100%;
    width: 16.6666%;
  }

  .col-xs-8{
    height: 100%;
    width: 66.6666%;
    padding: 12px;
  }
  
  @media (min-width: 992px) {
    .close-pub{
      height: 100%;
      width: 8.3333%;
    }

    .col-xs-8{
      height: 100%;
      width: 75%;
      padding: 12px;
    }
  }

  .mercedes{
    min-height:100%;
    width:100%;
    background-image: url("<%=asset_path('logoMercedes1.png')%>");
    background-size: contain;
    background-repeat:no-repeat;
    background-position:center;
  }

  .col-md-3{
    height: 100%;
    padding: 0px;
  }

  .col-md-3 img{
    height: 100%;
    width: 100%
  }

  #carousel{
    height: 100%;
  }

  .carousel-inner{
    height: 100%;
  }

  .item{
    height: 100%;
  }
  
  .carousel-inner { margin: auto; width: 90%; }

  .carousel-control        { width:  4%; }
  .carousel-control.left,
  .carousel-control.right {
    background-image:none;
  }
   
  .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
    margin-top:-10px;
    margin-left: -10px;
  }

  .carousel-inner {
    a {
      display:table-cell;
      height: 180px;
      width: 200px;
      vertical-align: middle;
    }
    img {
      max-height: 150px;
      margin: auto auto;
      max-width: 100%;
    }
  }

  @media (max-width: 767px) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

  }
  @media (min-width: 767px) and (max-width: 992px ) {
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(50%, 0, 0);
        transform: translate3d(50%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
  }
  @media (min-width: 992px ) {
    
    .carousel-inner > .item.next,
    .carousel-inner > .item.active.right {
        left: 0;
        -webkit-transform: translate3d(16.7%, 0, 0);
        transform: translate3d(16.7%, 0, 0);
    }
    .carousel-inner > .item.prev,
    .carousel-inner > .item.active.left {
        left: 0;
        -webkit-transform: translate3d(-16.7%, 0, 0);
        transform: translate3d(-16.7%, 0, 0);
    }
    
  }
</style>

<div class="row">
  <div class="buscador">
    <%= render "pages/buscador-fixed" %>
  </div>
  <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1 class="gallery-title">Museums</h1>
  </div> 

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="row">
    <div class="col-md-8 zero-padding">
      <div class="vid-container">
        <div class="title-frame">
          <h3>Discover latin american museums right here!</h3>
        </div>
        <iframe id="vid_frame" src="<%=@countries.first.videos.last.video_url.sub('www.youtube.com/', 'www.youtube.com/embed/').sub('watch?v=','')%>?rel=0&showinfo=0&autohide=1" frameborder="0"></iframe>
      </div>
    </div>
    <div class="col-md-4 playlist zero-padding">
      <% counter = 0 %>
      <% @countries.each do |country| %>
        <% if country.videos.count == 0 %>
          <% next %>
        <% end %>
        <div class="col-md-12 list-title">
          <%= country.country %>
        </div>
        <% country.videos.order(id: :desc).each do |video| %>
            <div class="col-md-12 list-item <%=(counter == 0) ? 'active-item' : ''%>" onclick="setActive(this,'<%=video.video_url%>');">
              
              <div class="col-md-3 zero-padding">
                <img src="<%=video.video_url.sub('www.youtube.com/watch?v=','img.youtube.com/vi/')%>/0.jpg" alt="" height="70" width="70"/>
              </div>
              
              <div class="col-md-9">
                <div class="title">
                  <%= video.title.upcase%>
                </div>
                <div class="desc">
                  <%= video.description %>
                </div>
              </div>

            </div>
            <% counter = counter + 1%>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>
  <%= render "pages/publicidad_mercedes"%>
</div>

<script type="text/javascript">
  function setActive(element,url){
    var embed_1 = url.replace("www.youtube.com/", "www.youtube.com/embed/");
    var embed_2 = embed_1.replace("watch?v=","");
    document.getElementById("vid_frame").src = embed_2 + '?autoplay=1&rel=0&showinfo=0&autohide=1';
    $('.active-item').prop("class", "col-md-12 list-item")
    element.setAttribute("class", "col-md-12 list-item active-item");
  }
</script>

<script>
$('.carousel[data-type="multi"] .item').each(function(){
  var next = $(this).next();
  if (!next.length) {
    next = $(this).siblings(':first');
  }
  next.children(':first-child').clone().appendTo($(this));
  
  for (var i=0;i<2;i++) {
    next=next.next();
    if (!next.length) {
      next = $(this).siblings(':first');
    }
    
    next.children(':first-child').clone().appendTo($(this));
  }
});
</script>

<script type="text/javascript">
  $("#close").click(function(){
    $(".articles").hide("slow");
  });
</script>