$('#my-listings').append('<%= j render @listings %>');
<% if @listings.next_page %>
	$('.pagination').replaceWith('<%= j paginate @listings %>');
<% else %>
	$('.pagination').remove();
<% end %>
<% sleep 2%>