<style type="text/css">

  .mercedes{
    width: 200px !important;
    height: auto;
  }

  div.buscador {
    position: fixed;
    width: 50%;
    top: 25%;
    right: 0;
    z-index: 1;
  }

  .item-main{
    min-height: 600px;
    border-bottom: solid;
    border-width: 1px;
    padding: 20px;
  }

  .item-main img{
    width: 100%;
    height: 100%;
  }

  .item-1{
    min-height: 300px;
    border-bottom: solid;
    border-width: 1px;
    padding: 10px;
    padding: 20px;
  }

  .item-1 img{
    width: 100%;
    height: auto;
  }

  .item {
    min-height:400px;
    border-bottom: solid;
    border-width: 1px;
    padding: 20px;
  }

</style>


<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="buscador">
          <%= render "pages/buscador-fixed" %>
        </div>
        <div class="row">
          <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
          	<h1 class="gallery-title">Results of <%=params[:keyword]%></h1>
          </div>
        	<% @results.each do |item| %>
        	  <div class="col-md-4 col-sm-6">
              <% if item.instance_of? Listing%>
                <%= link_to item do %>
                  <%= image_tag(item.pictures[0].image.url(:categories), class: "full_column") %>
                <% end %>
              <% elsif item.instance_of? Subject%>
                <%= link_to from_subject_path(:subject => item.id), class: "box-content"  do %>
                  <%= image_tag(item.image.url(:medium),class: "full_column") %>
                  <span class="texto" ><%= item.name%></span>
                <% end %>
              <% elsif  item.instance_of? User%>
                <%= link_to item.nick do %>
                  <%= image_tag(item.photo.url(:square), class: "full_column") %>
                  <% words = item.first_name + ' ' + item.last_name %>
                  <% string_arr = words.split(' ') %>
                  <div class="modified">
                    <div class="carousel-caption">
                      <span class="label">
                      <h4 class="title"><%= string_arr[0] + ' ' + string_arr[1] + ' ' %>
                        <% if string_arr[2].present? %>
                          <%= string_arr[2] %>
                        <% end %>
                      </h4>
                      </span>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
        	<% end %>
        </div>
      </div>
    </div>
  </div>
</div>



