<div class="row">
  <div class="container">
    <div class="row">
      <div class="col-xs-2">
          <%= render "pages/menu" %>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
        <%= render "pages/buscador" %>
        <div class="row">
          <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="gallery-title"><%=params[:subject].capitalize%></h1>
          </div> 
          <div class="container">
            <div id="my-listings">
                <%= render @subjects %>
            </div>
            <div id="my-listings">
              <div id="infinite-scrolling">
                <%= paginate @subjects%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

    $(document).ready(function(){
        $.ajax({
         url: "/fetch_listings",
         type: "GET",
         data: {cat_id: 1}
        });

        $.ajax({
         url: "/fetch_subjects",
         type: "GET",
         data: {page: 1}
        });
    });

</script>

