<%= render 'shared_admin/menu' %>
<div class = "col-md-10 text-center">
<h4>Subjects</h4>

<table class="table table-striped table-bordered">
  <tr>
    <th class="center">Image</th>
    <th class="center">Name</th>
    <th colspan="3"></th>
  </tr>

  <% @subjects.each do |subject| %>
    <tr>
      <% if subject.image.present?%>
        <td class="center"><%= image_tag subject.image.url(:thumb) %></td>
      <% else %>
        <td class="center">No image</td>
      <% end %>
      <td class="center"><%= subject.name %></td>
      <td class="center"><%= link_to 'Show', subject %></td>
      <td class="center"><%= link_to 'Edit', edit_subject_path(subject) %></td>
      <td class="center"><%= link_to 'Destroy', subject, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>

<br>

<%= link_to 'New Subject', new_subject_path %>
</div>