<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @subject.image.url(:large) %>
    </div>
  </div>
  <div class="col-md-6">

  <h3><%= @subject.name %></h3>

  </div>
</div>
<%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %>
