<div class="form-group">
<div class="row" id="cuadrado1">
<div class = "col-md-4 text-center"></div>

<div class = "col-md-4 text-center">

<h4 style="color:#000000; font-family: 'Rubik',sans-serif; "> Sign In</h4>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

  <div class="form-group">
    <%= f.label "Username or email" %>
    <%= f.text_field :login, :autofocus => true, class: "form-control", placeholder: "email" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control", placeholder: "password" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="form-group">
    <%= f.submit "Sign in", class: "btn btn-primary" %>
  </div>
<% end %>

<div class="form-group">
  <%= link_to image_tag("loginwithfacebook.png", border: 0, height: '40', width: '200'), user_facebook_omniauth_authorize_path %>
  </div>

<%= render "devise/shared/links" %>
</div>
<div class = "col-md-4 text-center"></div>

</div>

</div>

       


  
