<%= render 'shared_admin/menu' %>
<div class = "col-md-10 text-center">
  <h4>Bank accounts</h4>

  <table class="table table-striped table-bordered">
    <tr>
      <th class="center">Bank</th>
      <th class="center">Number</th>
      <th class="center">Country</th>
      <th class="center">User</th>
      <th colspan="2"></th>
    </tr>

    <% @bank_accounts.each do |bank| %>
      <tr>
        <td class="center"><%= bank.bank %></td>
        <td class="center"><%= bank.number %></td>
        <td class="center"><%= bank.country %></td>
        <% user = User.find(bank.user_id)%>
        <td class="center"><%= user.first_name + ' ' + user.last_name %> <br> <%= user.email%></td>
        <td class="center"><%= link_to 'Edit', edit_bank_account_admin_path(bank) %></td>
        <td class="center"><%= link_to 'Destroy', destroy_bank_account_admin_path(bank), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>

  <br>

  <%= link_to 'New bank account', new_bank_account_admin_path %>
</div>