jQuery ->
	$('.paginator').hide()
	if $('.pagination').length
		$(window).scroll ->
			url = $('.pagination .next').find('a').attr('href');
			if url && $(window).scrollTop() > $(document).height() - $(window).height() - 5
				$('#infinite-scrolling').show()
				$('.pagination').html('<img src="<%=asset_path('loader.gif')%>" height="50" width="50">')
				$.getScript(url)
		$(window).scroll()