<%= f.label :name %>
<%= f.text_field :name %>
<%= f.hint "Name of the category" %>

<%= f.label :photo %>
<%= f.image_field :photo, preview_url:@resource.photo.url(:thumb) %>
<%= f.hint "Picture of the category" %>

<%= f.label :description %>
<%= f.text_area :description %>
<%= f.hint "Make a description for this category" %>
