<%= f.label :bank %>
<%= f.text_field :bank %>
<%= f.hint "Address of the user" %>

<%= f.label :number %>
<%= f.text_field :number %>
<%= f.hint "City of the user" %>

<%= f.label :country %>
<%= f.text_field :country %>
<%= f.hint "Country of the user" %>

<%= f.label :user_id, "User" %>
<%= f.searchable_select :user_id, User.all, :id, :first_name, include_blank:false %>
<%= f.hint "Select the person of this bank account" %>