@import "bootstrap-sprockets";
@import "bootstrap";
@import "component";
@import "imagehover.min";

.pagination {
    display: inline-block;
}

.pagination span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #63c2f3;
}

.pagination span.current {
    background-color: #63c2f3;
    color: white;
}

.pagination span.gap {
    height: inherit;
    width: inherit;
    clear: inherit;
}

.pagination span:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

.pagination-diff {
    display: inline-block;
}

.pagination-diff span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #63c2f3;
}

.pagination-diff span.current {
    background-color: #63c2f3;
    color: white;
}

.pagination-diff span.gap {
    height: inherit;
    width: inherit;
    clear: inherit;
}

.pagination-diff span:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

/* Nav bar for bootstrap*/

.full {
    display: block;
    max-width: 100%;
    height: auto;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
    background-color: #63c2f4;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #63c2f4;
}

.navbar .navbar-toggle {
  border-color: transparent; /* Removes border color */
  float: right; /* Move navbar toggle to left */
}
.navbar .navbar-toggle .icon-bar {
  background-color:#ffffff; /* Changes regular toggle color */
}

.navbar .navbar-toggle .icon-bar:hover {
  background-color: #fff; /* Changes toggle color on hover */
}

.navbar .nav > li > a {
    color: white;
    margin-right: 15px;
}

.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  width: 400px; /* no height needed ... image will resize automagically */
}

.thumb{
    max-width: 100%;
    width:100%;
}

h4.title{
  font-size:30px;
  text-align: center;
}

.navbar-inverse .navbar-nav > li > a {
  color: #9d9d9d;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  list-style-type: none;
  height: 120px; 
}

ul {
    list-style-type: none;
}

.navbar .nav > li > a {
    float: none;
    line-height: 19px;
    text-decoration: none;
    color:  white;
    font-weight: bold;
    display: inline-block;
    vertical-align: top;
    list-style-type: none;
}


.full_column{
    width: 100%;
    margin-top:8px;
    margin-bottom:30px;
}

.panel-body {
  padding: 15px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}


.full_column_subject{
    width: 100%;
    margin-top:8px;
    margin-bottom:30px;
}

.form-inline {
    padding:6px;
}

.form-inline > * {
    margin:1px 3px !important;
}

.navbar .nav > li > form {
    float: none;
    line-height: 19px;
    text-decoration: none;
    color:  white;
    font-weight: bold;
}


.btn-lg.round {
    border-radius: 14px;
    padding-top: 1px;
    padding-right: 30px;
    padding-bottom: 1px;
    padding-left: 30px;
    margin-top:100px;
    margin-right:2px;
    margin-bottom:-40px;
    font-family: 'Rubik', sans-serif;

}


.search_letra{
    font-family: 'Rubik',sans-serif;
}

.support-menu * {
          margin: 0;padding: 0;outline: none;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;
           font-family: 'Rubik',sans-serif;
           font-size:150%;
        }
div.support-menu {
  margin: 20px auto;
  width: 100%;
}
.support-menu nav.vertical {
  border-radius: 4px;box-shadow: 0 0 10px rgba(0,0,0,.15);overflow: hidden;text-align: center;width: 100%;
   font-family: 'Rubik',sans-serif;
   font-size:150%;
}
.support-menu nav.vertical > ul {list-style-type: none;}
.support-menu nav.vertical > ul > li {display: block;}

.support-menu nav.vertical > ul > li ul{
  display: none;
}


.row text-center{
     font-family: 'Rubik',sans-serif;
}
.support-menu nav.vertical > ul > li > a {background-color: #63c2f3;background-image: -webkit-linear-gradient(135deg, #63c2f3, #63c2f3);background-image: -moz-linear-gradient(135deg, #63c2f3, #63c2f3);background-image: -o-linear-gradient(135deg, #63c2f3, #63c2f3);background-image: linear-gradient(135deg, #63c2f3, #003a59);border-bottom: 1px solid rgba(255,255,255,.1);box-shadow: inset 0 1px 1px rgba(0,0,0,.1), 0 1px 1px rgba(0,0,0,.1);color: rgb(255,255,255);display: block;font-size: .99rem;font-weight: 500;height: 50px;letter-spacing: .5rem;line-height: 50px;text-shadow: 0 1px 1px rgba(0,0,0,.1);text-transform: uppercase;transition: all .1s ease;text-decoration: none;}
.support-menu nav.vertical > ul > li > a:hover {
  background-color: rgb(114, 51, 98);
  background-image: -webkit-linear-gradient(150deg,#003a59, #63c2f3);
  background-image: -moz-linear-gradient(150deg, #003a59, #63c2f3);
  background-image: -o-linear-gradient(150deg, #003a59, #63c2f3);
  background-image: linear-gradient(150deg, #003a59, #63c2f3);
   cursor: pointer;


 }

.support-menu nav.vertical > ul > li > ul {background-color: rgb(255,255,255);}
.support-menu nav.vertical > ul > li > ul {list-style-type: none; font-size: .99rem;}
.support-menu nav.vertical > ul > li > ul > li > a {background-color: rgb(255,255,255);border-bottom: 1px solid rgba(0,0,0,.05);color: #333331;display: block;font-size: 1.1rem;padding: 10px 0;text-decoration: none;transition: all 0.15s linear; font-size: .99rem;}
.support-menu nav.vertical > ul > li > ul > li:hover > a {background-color: lightBlue;color: rgb(255,255,255);padding: 10px 0 10px 50px;font-size: .99rem;}

.navbar{
  font-family: 'Rubik', sans-serif;
  
  background: #63c2f3;

  margin-bottom : 0px !important;
  
}
.img-responsive{
   
    width:100%;
    display: block;
    max-width: 100%;
    height: auto;
     border-radius: 14px;
    padding-top: 1px;
    padding-right: 30px;
    padding-bottom: 1px;
    padding-left: 30px;


}

a.disabled {
    font-family: 'Rubik', sans-serif;
    pointer-events: none;
}

/* Muestra de errores formulario */

.error {
    color: red;
}

/* Diseno de cuadrado */

#cuadrado1{
    border: 5px solid #63c2f3;
    border-collapse: separate; 
    box-sizing: border-box;
    padding-bottom:0px;
    margin-top:25px;  
}

/* Uploader */

.bar {
    height: 18px;
    background: green;
}

/* Carousel */
.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}


// Animacion

html, body{
  height: 100%;
  font-weight: 800;
}

body{  
    font-family: 'Rubik', sans-serif;
}

svg {
    display: block;
    font: 10.5em 'Rubik';
    width: 960px;
    height: 300px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
    stroke: #4D163D;
    animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #840037;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #BD0034;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #BD0034;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #FDB731;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}

/********************
*****Slide effect
**********************/

.fade {
    opacity: 1;
}
.fade .item {
    top: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    position: absolute;
    left: 0 !important;
    display: block !important;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}
.fade .item:first-child {
    top: auto;
    position: relative;
}
.fade .item.active {
    opacity: 1;
    z-index: 2;
    -webkit-transition: opacity ease-in-out 1s;
    -moz-transition: opacity ease-in-out 1s;
    -ms-transition: opacity ease-in-out 1s;
    -o-transition: opacity ease-in-out 1s;
    transition: opacity ease-in-out 1s;
}

/*---------- LEFT/RIGHT ROUND CONTROL ----------*/

.modified .carousel-caption {
    left: 5%;
    text-align: left;
    background-color: rgba(99, 194, 243, 0.9);
    max-width: 300px;
    left: auto;
    padding:5px;
}

.control-arrows .carousel-control {
    top: 47%;
    width: 45px;
    height: 45px;
    z-index: 100;
    display: block;
    font-size: 24px;
    overflow: hidden;
    line-height: 43px;
    text-shadow: none;
    font-weight: normal;
    border-radius: 100px;

    color: #fdfdfd;
    background: #63c2f3;
    border: 0px transparent;
}

.control-arrows .carousel-control.left {
    left: 1%;
}
.control-arrows .carousel-control.right {
    right: 1%;
}

.control-round .carousel-control {
    top: 47%;
    opacity: 0;
    width: 45px;
    height: 45px;
    z-index: 100;
    color: #ffffff;
    display: block;
    font-size: 24px;
    cursor: pointer;
    overflow: hidden;
    line-height: 43px;
    text-shadow: none;
    font-weight: normal;
    background: transparent;
    -webkit-border-radius: 100px;
    border-radius: 100px;
}
.control-round:hover .carousel-control{
    opacity: 1;
}
.control-round .carousel-control.left {
    left: 1%;
}
.control-round .carousel-control.right {
    right: 1%;
}
.control-round .carousel-control.left:hover,
.control-round .carousel-control.right:hover{
    color: #fdfdfd;
    background: #63c2f3;
    border: 0px transparent;
}
.control-round .carousel-control.left>span:nth-child(1){
    left: 45%;
}
.control-round .carousel-control.right>span:nth-child(1){
    right: 45%;
}


/*---------- INDICATORS CONTROL ----------*/
.indicators-line > .carousel-indicators{
    right: 45%;
    bottom: 3%;
    left: auto;
    width: 90%;
    height: 20px;
    font-size: 0;
    overflow-x: auto;
    text-align: right;
    overflow-y: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    white-space: nowrap;
}
.indicators-line > .carousel-indicators li{
    padding: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #63c2f3;
    text-indent: 0;
    overflow: hidden;
    text-align: left;
    position: relative;
    letter-spacing: 1px;
    background: #63c2f3;
    -webkit-font-smoothing: antialiased;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-right: 5px;
    -webkit-transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    transition: all 0.5s cubic-bezier(0.22,0.81,0.01,0.99);
    z-index: 10;
    cursor:pointer;
}
.indicators-line > .carousel-indicators li:last-child{
    margin-right: 0;
}
.indicators-line > .carousel-indicators .active{
    margin: 1px 5px 1px 1px;
    box-shadow: 0 0 0 2px #63c2f3;
    background-color: transparent;
    position: relative;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
    transition: box-shadow 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;

}
.indicators-line > .carousel-indicators .active:before{
    transform: scale(0.5);
    background-color: #ffffff;
    content:"";
    position: absolute;
    left:-1px;
    top:-1px;
    width:15px;
    height: 15px;
    border-radius: 50%;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease;
}



/*---------- SLIDE CAPTION ----------*/
.slide_style_left {
    text-align: left !important;
}
.slide_style_right {
    text-align: right !important;
}
.slide_style_center {
    text-align: center !important;
}

.slide-text {
    left: 0;
    top: 25%;
    right: 0;
    margin: auto;
    padding: 10px;
    position: absolute;
    text-align: left;
    padding: 10px 85px;
    
}

.slide-text > h1 {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    color: #ffffff;
    font-size: 70px;
    font-style: normal;
    line-height: 84px;
    margin-bottom: 30px;
    letter-spacing: 1px;
    display: inline-block;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.slide-text > p {
font-family: 'Rubik', sans-serif;
    padding: 0;
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 40px;
    letter-spacing: 1px;
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}
.slide-text > a.btn-default{
font-family: 'Rubik', sans-serif;
    color: #000;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-right: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    display: inline-block;
    border: none;
    text-transform: uppercase;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

}
.slide-text > a.btn-primary{
font-family: 'Rubik', sans-serif;
    color: #63c2f3;
    cursor: pointer;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    margin-left: 10px;
    text-align: center;
    padding: 17px 30px;
    white-space: nowrap;
    letter-spacing: 1px;
    background: #63c2f3;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.slide-text > a:hover,
.slide-text > a:active {
    color: #ffffff ;
    background: #63c2f3;
    -webkit-transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}






/*------------------------------------------------------*/
/* RESPONSIVE
/*------------------------------------------------------*/

@media (max-width: 991px) {
    .slide-text h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 20px;
    }
    .slide-text > p {

        font-size: 18px;
    }
}


/*---------- MEDIA 480px ----------*/
@media  (max-width: 768px) {
    .slide-text {
        padding: 10px 50px;
    }
    .slide-text h1 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 10px;
    }
    .slide-text > p {
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 20px;
    }
    .control-round .carousel-control{
        display: none;
    }

}
@media  (max-width: 480px) {
    .slide-text {
        padding: 10px 30px;
    }
    .slide-text h1 {
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 5px;
    }
    .slide-text > p {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 10px;
    }
    .slide-text > a.btn-default, 
    .slide-text > a.btn-primary {
        font-size: 10px;
        line-height: 10px;
        margin-right: 10px;
        text-align: center;
        padding: 10px 15px;
    }
    .indicators-line > .carousel-indicators{
        display: none;
    }

}

// GALERIA Y SELECCIÓN POR CATEGORIAS
.gallery{
 display: inline-block;
    margin-top: 20px;
}

.gallery-title
{
    font-family:'Rubik', sans-serif;
    font-size: 36px;
    color: #63c2f3;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
    font-size:38px;
    
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 32%;
    left: 34%;
    height: 47px;
    border-bottom: 1px solid #63c2f3;
     font-size:38px;
  text-align: center;
  margin-right:140px;
}
.filter-button
{    
     font-family:'Rubik', sans-serif;
    font-size: 18px;
    border: 1px solid #63c2f3;
    border-radius: 5px;
    text-align: center;
    color: #63c2f3;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #63c2f3;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #63c2f3;

}
.btn-default:active .filter-button:active
{
    background-color: #63c2f3;
    color: white;
}

.port-image
{
    width: 100%;
    margin-bottom: 30%;
}




// arte por precio


.box{
    border:2px solid #63c2f3;
    box-shadow:0 0 4px grey;
    position:relative;
}
.box:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(45deg, #141414 0%, #691100 40%, #1b1b1b 100%);
    opacity: 0.3;
    transition:all 0.5s ease;
}
.box img{
    width:100%;
    height: auto;
}
.box.box-content{
    background: rgba(0,0,0,0);
    margin-top:8px;
    margin-bottom:10px;
    width: 100%;
    height: 100%;
    padding: 38px;
    transition: all 0.35s ease 0s;
   
}
.box:hover .box-content{
    background: rgba(0,0,0,0.5);
}
.box .box-content:after{
    content: "";
    border: 1px solid #fff;
    position: absolute;
    top:66px;
    left: 20px;
    right: 30px;
    height: 12%;
    transition: all 0.35s ease 0s;
}
.box:hover .box-content:after{
    top:60%;
}
.box .title{
     font-family:'Rubik', sans-serif;
    color:#fff;
    font-size:32px;
    font-weight: bolder;
    text-transform:uppercase;
}
.box .description{
    position: relative;
    top:5%;
    color:#fff;
    opacity:0;
    transition: all 0.35s ease 0s;
}
.box-content span{
   position: absolute;
     margin-top:50px;
     margin-right: 140px;
    bottom: 0;

    left: 0;
    right: 30;
    z-index: 999;
    font-size:52px;
    padding: 50px;
    color: #fff;
    font-family: 'Rubik', sans-serif;
}



@media only screen and (max-width: 990px) {
    .box{
        margin-bottom:15px;
    }
}
@media only screen and (max-width: 479px) {
    .box .title{ font-size: 15px;}
    .box .description{ font-size: 13px; }
    .box:hover .description{ top:48%; }
}





/* Selector with images */

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #FF5722;
  box-shadow: 6px 6px 5px #888888;
}

/* Style for stars calification */

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 

.rating-static { 
  border: none;
  float: left;
}

.rating-static > input { display: none; } 
.rating-static > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating-static > label { 
  color: #ddd; 
 float: right; 
}

.rating-static > input:checked ~ label, /* show gold star when clicked */
.rating-static > input:checked ~ label { color: #FFD700;  } 

/* Style for radio buttons */

.radio-toolbar input[type="radio"] {
  display: none;
}

.radio-toolbar label {
  display: inline-block;
  background-color: #ddd;
  padding: 4px 11px;
  font-family: Rubik sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.radio-toolbar input[type="radio"]:checked+label {
  background-color: #bbb;
}

/* bootstrap */

img {
  max-width: 100%;
}

.site-header {
  position: relative;
}

.site-header .mdl-layout__header-row {
  padding: 0;
  -ms-flex-pack: center;
  justify-content: center;
}

.site-description {
  display: block;
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 10px;
}

.is-compact .mdl-layout__title span {
  display: none;
}


.site-logo-row {
  min-height: 200px;
}

.is-compact .site-logo-row {
  min-height: auto;
}

.site-logo {
  background: url(../img/site-logo.png) 50% no-repeat;
  background-size: cover;
  height: 120px;
  width: 120px;
  margin: 15px auto;
}

.is-compact .site-logo {
  height: 50px;
  width: 50px;
  margin: 7px auto;
}

.mdl-layout__header .mdl-layout__drawer-button {
  color: #fff;
}

.mdl-layout__content {
  background-color: #fefefe;
}

.site-content {
  margin: 1em auto;
  min-height: 580px;
}

.page-content {
  padding-bottom: 2em;
}

.site-max-width {
  max-width: 900px;
  margin: auto;
}

.site-copy {
  max-width: 700px;
}

.welcome-card > .mdl-card__title {
  color: #fff;
  height: 290px;
  background-image: image_url('cover.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.event-card {
  background: #3E4EB8;
}

.event-card .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}

.event-card .mdl-card__title {
  -ms-flex-align: start;
      align-items: flex-start;
}

.event-card .mdl-card__title > h4 {
  margin-top: 0;
}

.event-card .mdl-card__actions {
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  -ms-flex-align: center;
      align-items: center;
}

.event-card .mdl-card__actions > .material-icons {
  padding-right: 10px;
}

.event-card .mdl-card__title,
.event-card .mdl-card__actions,
.event-card .mdl-card__actions > .mdl-button {
  color: #fff;
}

.section__play-btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-height: 150px;
}

.section__play-btn .material-icons {
  font-size: 3rem;
}

.section--center {
  margin: 0 auto 2rem;
}

.homepage-portfolio .mdl-button {
  margin: 0 auto;
}

.homepage-footer {
font-family:'Rubik', sans-serif;
  background: #63c2f3;
  margin-bottom: -1em;
  padding: 2rem 0;
}

.portfolio-card .mdl-card__title {
  padding-bottom: 0;
}

img.article-image {
  width: 100%;
  height: auto;
}

.demo-card-image.mdl-card {
  width: 192px;
  height: 192px;
}

.demo-card-image > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0, 0, 0, 0.3);
}

.demo-card-image__filename {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
}

.form-contact .mdl-textfield {
  width: 100%;
}

#contact-button {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900;
}

full {
    width: 100%;    
}
.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}
.footer {
color:#FFFFFF;
font-family:'Rubik', sans-serif;
  background: #63c2f3;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
}
.footer p {
font-family:'Rubik', sans-serif;
color:#FFFFFF;
  margin: 0;
}
.footer img {
color:#FFFFFF;
  max-width: 100%;
}
.footer h3 {
color:#FFFFFF;
font-family:'Rubik', sans-serif;
color: white;
  border-bottom: 1px solid #B;
  color: #54697E;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}
.footer ul {
color:#FFFFFF;
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
.footer a {
font-family:'Rubik', sans-serif;
  color: #FFFFFF;
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: left;
  height: 30px;
  clear: both;
  width: 100%;
}
.newsletter-box .btn {
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
  color: #fff;
}
.newsletter-box {
  overflow: hidden;
}
.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  color: #FFFFFF;
}
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
  color: #FFFFFF;
}
.social li:hover {
  border: 2px solid #2c3e50;
  background: #2c3e50;
}
.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #FFFFFF !important;
}
.footer-bottom {
  background: #63c2f3;
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
}

// contactanos

section#contact {
    background-color: #63c2f3;
    background-image: image-url('slide1.jpg');
    background-position: center;
    background-repeat: no-repeat;
}
section {
    padding: 30px 0PX;
}
section#contact .section-heading {
    color: #63c2f3;
}
section#contact .form-group {
    margin-bottom: 25px;
}
section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}
section#contact .form-group input.form-control {
    height: auto;
}
section#contact .form-group textarea.form-control {
    height: 236px;
}
section#contact .form-control:focus {
    border-color: #fed136;
    box-shadow: none;
}
section#contact ::-webkit-input-placeholder {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #63c2f3;
}
.gellary_bg_none img{
    width: 100%;
    height: 250px;
}
section#contact :-moz-placeholder {
    /* Firefox 18- */
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #63c2f3;
}
section#contact ::-moz-placeholder {
    /* Firefox 19+ */
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #63c2f3;
}
section#contact :-ms-input-placeholder {
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    color: #63c2f3;
}
section#contact .text-danger {
    color: #e74c3c;
}

.about_our_company{
    text-align: center;
}
.about_our_company h1{
    font-size: 25px;
}
.titleline-icon {
    position: relative;
    max-width: 100px;
    border-top: 4px double #F99700;
    margin: 20px auto 20px;
}
.titleline-icon:after {
    position: absolute;
    top: -11px;
    left: 0;
    right: 0;
    margin: auto;
    font-family: 'Rubik', sans-serif;
    content: "\f141";
    font-size: 36px;
    line-height: 1;
    color: #F99700;
    text-align: center;
    vertical-align: middle;
    width: 40px;
    height: 20px;
    background: #63c2f3;
}