<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @category.photo.url(:large) %>
    </div>
  </div>
  <div class="col-md-6">

  <h3><%= @category.name %></h3>
  <p><%= @category.description %></p>

  </div>
</div>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
