<%= f.label :photo %>
<%= f.image_field :photo, preview_url:@resource.photo.url(:thumb) %>
<%= f.hint "Attach a profile photo for the user" %>

<%= f.label :first_name %>
<%= f.text_field :first_name %>
<%= f.hint "First name of user" %>

<%= f.label :last_name %>
<%= f.text_field :last_name %>
<%= f.hint "Last name of user" %>

<%= f.label :email %>
<%= f.text_field :email %>
<%= f.hint "Email of user" %>

<% if !@resource.id.present? %>
	<%= f.label :password %>
	<%= f.text_field :password %>
	<%= f.hint "Password of user" %>
<% end %>

<%= f.label :nick %>
<%= f.text_field :nick %>
<%= f.hint "Nick of user" %>

<%= f.label :type_user, "Type of user" %>
<%= f.text_field :type_user%>
<%= f.hint "Type of user" %>

<%= f.label :Facebook %>
<%= f.text_field :socialn1 %>
<%= f.hint "Facebook url of user" %>

<%= f.label :Instagram %>
<%= f.text_field :socialn2 %>
<%= f.hint "Instagram url of user" %>

<%= f.label :Linkedin %>
<%= f.text_field :socialn3 %>
<%= f.hint "Linkedin url of user" %>

<%= f.label :startPayment, "Publishing Date" %>
<div class="field-cluster"><%= f.date_select :startPayment, include_blank:true %></div>
<%= f.hint "Start payment date of user" %>

<%= f.label :finishPayment, "Publishing Date" %>
<div class="field-cluster"><%= f.date_select :finishPayment, include_blank:true %></div>
<%= f.hint "Start payment date of user" %>

<%= f.label :statePayment %>
<div class="field-cluster"><%= f.check_box :statePayment %></div>
<%= f.hint "Select if payment is available" %>

<%= f.label :public %>
<div class="field-cluster"><%= f.check_box :public %></div>
<%= f.hint "Select if this user is public in the platform" %>

<%= f.label :description %>
<%= f.text_area :description%>
<%= f.hint "Description of user" %>

<%= f.label :telephone %>
<%= f.text_field :telephone%>
<%= f.hint "Telephone number of user" %>