<%= f.label :video_url %>
<%= f.text_field :video_url %>
<%= f.hint "Url del video" %>

<%= f.label :title %>
<%= f.text_field :title %>
<%= f.hint "Título" %>

<%= f.label :description %>
<%= f.text_field :description %>
<%= f.hint "Descripcion" %>

<%= f.label :country_id, "Country" %>
<%= f.searchable_select :country_id, Country.all, :id, :country, include_blank:false %>
<%= f.hint "Select the country of this video" %>