<!--
<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
               
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3 style="color:#FFFFFF;"> Us</h3>
                    <ul>
                        <li> <%= link_to "About", pages_about_path%> </li>
                        <li> <%= link_to "Contact", pages_contact_path%> </li>
                        <li> <%= render "pages/terms_and_conditions" %> </li>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3 style="color:#FFFFFF;"> Our Media </h3>
                    <ul>
                        <li> <%= link_to "The colombian post", "http://thecolombianpost.com/", :target => "_blank" %> </li>
                        <li> <%= link_to "Latinamericanpost", "http://www.latinamericanpost.com/", :target => "_blank" %> </li>
                        <li> <%= link_to "Latam Radio", "http://latamradio.com/", :target => "_blank" %> </li>
                        <li> <%= link_to "Latam TV", "http://latam.tv/", :target => "_blank" %> </li>


                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3 style="color:#FFFFFF;"> Categories </h3>
                    <ul>
                        <% categories = Category.all %>
                        <% categories.each do |category|%>
                            <li><%= link_to category.name, pages_category_path(:category => category.name.downcase) %></li>
                        <% end %>
                    </ul>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3 style="color:#FFFFFF;"> E-learning </h3>
                    <ul>
                        <li> <%= link_to "Art Appreciation Course",  pages_art_appreciation_path %> </li>
                        <li> <%= link_to "Latamcampus", "http://campus.latampost.com/", :target => "_blank" %> </li>
                        <li> <%= link_to "Elpost", "http://elpost.co/", :target => "_blank" %> </li>
                        
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3 style="color:#FFFFFF;"> Social Networks </h3>
                    <ul>
                        <li>
                           
                        </li>
                    </ul>
                    <ul class="social">
                   

                    <li  <a href="https://twitter.com/latampost"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="https://twitter.com/latampost"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="https://twitter.com/latampost"> <i class="fa fa-google-plus">   </i> </a> </li>
                        
                    </ul>
                </div>
            </div>

        </div>
    </div>
 
    
    <div class="footer-bottom">
        <div class="container">
            <p style="color:#FFFFFF;" class="pull-left"> Copyright © LATAM ART 2017. All right reserved. </p>
           
        </div>
    </div>
</footer>-->
<br>
<br>
<br>
<br>

<script>
    new UISearch(document.getElementById('sb-search-header'));
    new UISearch(document.getElementById('sb-search'));
</script>

<div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">

        <p class="navbar-text pull-left">
            <i><%= link_to "About", pages_about_path, style: "color: white; font-size: 1.2em;" %></i>
        </p>
        <p class="navbar-text pull-left" style="color: white; font-size: 1.2em;">|</p>
        <p class="navbar-text pull-left">
            <i><%= link_to "Contact", pages_contact_path, style: "color: white; font-size: 1.2em;" %></i>
        </p>

        <div class="navbar-text pull-right">
            <ul class="social">
                <li><a href="https://twitter.com/latampost"> <i class="fa fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/Latampost/?hc_ref=ARQZQLfvBJ8aBbccuH9A3eajy8IvffYIE-YILyk_ozOpDxTq-8ojC7d4xLrUGYlgcCc&fref=nf"> <i class=" fa fa-facebook"></i></a></li>
            </ul>
        </div>
    </div>
</div>