<style type="text/css">

  .navbar .nav li a.normal{
    line-height: 40px;
  }

  @media (max-width: 768px) {
    div.search-navbar{
      display: inherit;
    }
    div.buscador{
      display: none;
    }
    .navbar {
      padding-left: inherit;
      padding-right: inherit;
    }
    .navbar-header{
      width: inherit;
    }
    .logo{
      width: 60%;
    }
  }

  @media (min-width: 768px) {
    div.search-navbar{
      display: none;
    }
    div.buscador{
      display: inherit;
    }
    .navbar {
      padding-left: 5%;
      padding-right: 5%;
    }
    .navbar-header{
      width: 25%;
    }
    .logo{
      width: inherit;
    }
  }

  .navbar{
    border-bottom: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
  }

</style>

<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <div>
        <a class="brand" href="/"><%= image_tag("latamART.png", class: "logo") %></a>
        <div id="sb-search-header" class="sb-search search-navbar" style="box-shadow: inherit; margin-top: inherit;">
          <%=form_tag "/search", method: :get, class: "search_letra" do %>
            <input class="sb-search-input" placeholder="Enter a name of artist or art" type="text" value="" name="keyword" id="search">
            <input class="sb-search-submit" type="submit" value="">
            <span class="sb-icon-search" style="color: white;"><%= image_tag('lupa.png', style: "padding: 10px;")%></span>
          <% end %>
        </div>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right ">
        <ul class="nav navbar-nav navbar-right hidden-xs">
            <li><%= link_to "Top Artist", pages_top_artist_path, class: "normal", style: "color: white; font-size: 1.2em;"%></li>
            <li><%= link_to "Artists", pages_artist_path, class: "normal", style: "color: white; font-size: 1.2em;"%></li>
            <!--<li><% link_to "Staff picks", listings_curated_path, class: "normal", style: "color: white; font-size: 1.2em;"%></li>-->
            <li><%= link_to "News", pages_exhibition_path, class: "normal", style: "color: white; font-size: 1.2em;"%></li>
            <li><%= link_to "Museums", pages_museums_path, class: "normal", style: "color: white; font-size: 1.2em;"%></li>
          <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle normal" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style= "color: white; font-size: 1.2em;">
                <%= image_tag(current_user.photo, height: '30', width: '30') %>
                <% if !current_user.first_name.to_s.empty? %>
                  <%= current_user.first_name + ' ' + current_user.last_name %>
                <% end %>
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Edit profile", edit_user_registration_path %></li>
                <li><%= link_to "Manage my artwork", seller_path %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to "Exit", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path, class: "normal", style: "color: white; font-size: 1.2em;"%></li>
            <li><%= link_to "Log in", new_user_session_path, class: "normal", style: "color: white; font-size: 1.2em;" %></li>
          <% end %>
      </ul>
        <div class="dropdown visible-xs">
          <div>
          <a class="dropdown-toggle" data-toggle="dropdown">Categories<b class="caret">
                </b></a>
          <ul class="dropdown-menu">
            <% @categories = Category.all.order(:name) %>
            <% @categories.each do |category|%>
             <li> <%= link_to category.name, pages_category_path(:category => category.name.downcase) %> </li>
            <% end %>
          </ul>
          </div>
          <div>
          <a class="dropdown-toggle" data-toggle="dropdown">Styles<b class="caret">
                </b></a>
          <ul class="dropdown-menu">
            <% @subjects = Subject.all.order(:name) %>
            <% @subjects.each do |subject|%>
              <li> <%= link_to subject.name,pages_subject_path(:subject => subject.name.downcase) %> </li>
            <% end %>
          </ul>
          </div>
          <li><%= link_to "Artist", pages_artist_path %></li>  
          <li><%= link_to "News", pages_exhibition_path %></li> 
          <li><%= link_to "Appreciation", pages_appreciation_path %></li> 
          <li><%= link_to "Museums", pages_museums_path %></li>
           <% if user_signed_in? %>
            <% if current_user.type_user == '1'%>
              <li class="dropdown">
              <!--  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Manage my artworks", seller_path %></li>
                  <li><%= link_to "Sales History", sales_path %></li>
                </ul>
              </li> -->
            <% end %>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <%= image_tag(current_user.photo, height: '30', width: '30') %>
                <% if !current_user.first_name.to_s.empty? %>
                  <%= current_user.first_name + ' ' + current_user.last_name %> <b class="caret">
                <% end %>
                </b>
              </a>
              <ul class="dropdown-menu">
            <!--     <li><%= link_to "Purchase History", purchases_path %></li> -->
                <li><%= link_to "Edit profile", edit_user_registration_path %></li>
                <!--     <li><%= link_to "Nueva obra", new_listing_path, data: { no_turbolink: true } %></li> -->
                <li><%= link_to "Manage my artwork", seller_path %></li>
                <li><%= link_to "Exit", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Log in", new_user_session_path %></li>
          <% end %> 
        </div>
      </ul>
    </div>
    
    </ul>
    </div>
    </div>
    </nav>
<br>
<br>
<br>
<br>

<script type="text/javascript">
  $(document).ready(function(){
  $('.menu li:has(ul)').hover(function(e){
    e.preventDefault();
    if ($(this).hasClass('activado')) {
      $(this).removeClass('activado');
      $(this).children('ul').slideUp();
    }else{
      $('.menu li ul').slideUp();
      $('.menu li').removeClass('activado');
      $(this).addClass('activado');
      $(this).children('ul').slideDown();
    }
  });
});
</script>